<div [@routerTransition]>
    <app-page-header [heading]="'Subtipo de Diseño'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <p></p>
    <div class="row">
        <form role="form" #mainForm="ngForm">
            <div class="form-group input-group">
                <span class="input-group-addon">Código</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Tipo de Diseño</span>
                <select name="idtipodiseno" class="form-control" [(ngModel)]="selectedEntity.idtipodiseno" #idtipodiseno="ngModel">
                    <option *ngFor="let instance of dataTiposDisenos" [value]="instance.id" [selected]="instance.id === selectedEntity.idtipodiseno">{{instance.tipodiseno}}</option>
                </select>
            </div>
            <div *ngIf="idtipodiseno.errors && idtipodiseno.touched" class="alert alert-danger">
                <div *ngIf="idtipodiseno.errors.required">Debe seleccionar un Tipo de Diseño.</div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Descripción</span>
                <input name="subtipodiseno" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="selectedEntity.subtipodiseno" #subtipodiseno="ngModel">
            </div>
            <div *ngIf="subtipodiseno.invalid && (subtipodiseno.dirty || subtipodiseno.touched)" class="alert alert-danger">
                <div *ngIf="subtipodiseno.errors.required">
                    Descripción del subtipo de diseño obligatoria.
                </div>
                <div *ngIf="subtipodiseno.errors.minlength">
                    La longitud mínima es de 4 caracteres.
                </div>
            </div>
            <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave()">Guardar</button>                 
            <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
        </form>
    </div>
</div>
