<div [@routerTransition]>
    <app-page-header [heading]="'Cuentas Corrientes Proveedores'" [icon]="'fa-edit'"></app-page-header>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Proveedor</span>
                <select name="idproveedor" class="form-control" [(ngModel)]="idProveedor" #idproveedor="ngModel">
                    <option *ngFor="let instance of dataProveedores"
                        [value]="instance.id"
                        [selected]="instance.id === idProveedor">{{instance.razonsocial}}</option>
                </select>
                <div *ngIf="idproveedor.errors && idproveedor.touched" class="alert alert-danger">
                    <div *ngIf="idproveedor.errors.required">Debe seleccionar un proveedor.</div>
                </div>
                <button type="button" class="btn btn-primary" (click)="onGenerar()">Generar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group input-group">
                <input #search class="form-control" type="text" placeholder="Filtrar todas las columnas..." (keyup.enter)="onSearch(search.value)">
                <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="onSearch(search.value)">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <ng2-smart-table class="table-responsive" [settings]="settings" [source]="source" (userRowSelect)="userRowSelect($event)"></ng2-smart-table>
    </div>
</div>
