<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}" [hidden]="defaultLog">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'dashboard' | translate }}
        </a>
        
        <a [routerLink]="['/presupuestos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-file-o"></i>&nbsp;Presupuestos
        </a>

        <a [routerLink]="['/caja']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list-alt"></i>&nbsp;Caja
        </a>

        <a [routerLink]="['/clientes']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;Clientes
        </a>

        <a [routerLink]="['/cuentascorrientes']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;Cuenta Corriente
        </a>

        <a [routerLink]="['/compras']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;Compras
        </a>

        <a [routerLink]="['/gastos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-users"></i>&nbsp;Gastos
        </a>

        <a [routerLink]="['/cheques']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-credit-card-alt"></i>&nbsp;Cheques
        </a>

        <a [routerLink]="['/cajainforme']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list-alt"></i>&nbsp;Informe de Caja
        </a>

        <a [routerLink]="['/proveedores']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list-alt"></i>&nbsp;Proveedores
        </a>

        <a [routerLink]="['/proveedoresctactes']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list-alt"></i>&nbsp;Cuentas Corrientes Proveedor
        </a>

        <!-- <a [routerLink]="['/proveedores']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-handshake-o"></i>&nbsp;Proveedores
        </a> -->

        <a [routerLink]="['/recibos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-file-text-o"></i>&nbsp;Recibos
        </a>

        <a [routerLink]="['/retiroefectivos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-undo"></i>&nbsp;Retiros de Efectivo
        </a>

        <a [routerLink]="['/listasprecios']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-usd"></i>&nbsp;Listas de Precios
        </a>

        <!-- <li>
            <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
        </li>
        <li>
            <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
        </li> -->

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('sistemas')">
                <span><i class="fa fa-plus"></i>&nbsp;Sistemas</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'sistemas'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/bancos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-university"></i>&nbsp;Bancos
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/formaspagos']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-paypal"></i>&nbsp;Formas de Pagos
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/roles']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-wpforms"></i>&nbsp;Roles
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/usuarios']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-wpforms"></i>&nbsp;Usuarios
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/sustratos']" [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa fa-book"></i><span>Sustratos</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/subtipossustratos']" [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa fa-book"></i><span>Subtipos Sustratos</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/tiposdisenos']" [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa fa-book"></i><span>Tipos de Diseños</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/subtiposdisenos']" [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa fa-book"></i><span>Subtipos de Diseños</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/gramajes']" [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa fa-book"></i><span>Gramajes</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/tamanos']" [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa fa-book"></i><span>Tamaños</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/tipospapeleriascomerciales']" [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa fa-book"></i><span>Papelería Comercial</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/subtipospapeleriascomerciales']" [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa fa-book"></i><span>Subtipos Papelería Comercial</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/tiposadicionales']" [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa fa-book"></i><span>Tipos de Adicionales</span></a>
                    </li>
                    <li>
                        <a [routerLink]="['/tiposcomprobantes']" [routerLinkActive]="['router-link-active']"><i class="fa fa-fw fa fa-book"></i><span>Tipos de Comprobantes</span></a>
                    </li>
                </ul>
            </li>
        </div>

 <!--       
        <a [routerLink]="['/publicidades']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wpforms"></i>&nbsp;Publicidades
        </a>
        
        <a [routerLink]="['/premiosxconductores']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wpforms"></i>&nbsp;Premios / conductores
        </a>

        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'boostrapElement' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'boostrapGrid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'component' | translate }}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i>&nbsp;{{ 'menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'blankpage' | translate }}
        </a>
        <a class="list-group-item more-themes" href="http://www.strapui.com/" >
            {{ 'moretheme' | translate }}
        </a>
    -->
    </ul>
</nav>
