<div [@routerTransition]>
    <app-page-header [heading]="'Subtipo de Trabajo de Papelería Comercial'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <p></p>
    <div class="row">
        <form role="form" #mainForm="ngForm">
            <div class="form-group input-group">
                <span class="input-group-addon">Código</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Tipo de Papelería Comercial</span>
                <select name="idtipopapeleriacomercial" class="form-control" [(ngModel)]="selectedEntity.idtipopapeleriacomercial" #idtipopapeleriacomercial="ngModel">
                    <option *ngFor="let instance of dataTipos" [value]="instance.id" [selected]="instance.id === selectedEntity.idtipopapeleriacomercial">{{instance.tipopapeleriacomercial}}</option>
                </select>
            </div>
            <div *ngIf="idtipopapeleriacomercial.errors && idtipopapeleriacomercial.touched" class="alert alert-danger">
                <div *ngIf="idtipopapeleriacomercial.errors.required">Debe seleccionar un Tipo de Papelería Comercial.</div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Descripción</span>
                <input name="subtipopapeleriacomercial" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="selectedEntity.subtipopapeleriacomercial" #subtipopapeleriacomercial="ngModel">
            </div>
            <div *ngIf="subtipopapeleriacomercial.invalid && (subtipopapeleriacomercial.dirty || subtipopapeleriacomercial.touched)" class="alert alert-danger">
                <div *ngIf="subtipopapeleriacomercial.errors.required">
                    Descripción del subtipo de papelería comercial obligatoria.
                </div>
                <div *ngIf="subtipopapeleriacomercial.errors.minlength">
                    La longitud mínima es de 4 caracteres.
                </div>
            </div>
            <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave()">Guardar</button>                 
            <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
        </form>
    </div>
</div>
