<div [@routerTransition]>
    <app-page-header [heading]="'Usuarios'" [icon]="'fa-edit'"></app-page-header>
    <button type="button" class="btn btn-primary" (click)="nuevo()">Nuevo</button>
    <div class="row">
      <div class="col-md-4">
          <br>
          <div class="form-group input-group">
            <input #search class="form-control" type="text" placeholder="Filtrar todas las columnas..." (keyup.enter)="onSearch(search.value)">
            <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="onSearch(search.value)">
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
            <br>
          </div>
          <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="userRowSelect($event)"></ng2-smart-table>
      </div>
  </div>
<!-- <div [@routerTransition]>
  <app-page-header [heading]="'Usuarios'" [icon]="'fa-edit'"></app-page-header>

  <button type="button" class="btn btn-primary" (click)="nuevo()">Nuevo</button>
  <div class="row">
    <div class="col-md-4">
      <input *ngIf="config.filtering" placeholder="Filtrar todas las columnas"
            [ngTableFiltering]="config.filtering"
            class="form-control"
            (tableChanged)="onChangeTable(config)"/>
    </div>
  </div>
  <br>
  <ng-table [config]="config"
            (tableChanged)="onChangeTable(config)"
            (cellClicked)="onCellClick($event)"
            [rows]="rows" [columns]="columns">
  </ng-table>
  <pagination *ngIf="config.paging"
              class="pagination-sm"
              [(ngModel)]="page"
              [totalItems]="length"
              [itemsPerPage]="itemsPerPage"
              [maxSize]="maxSize"
              [boundaryLinks]="true"
              [rotate]="false"
              (pageChanged)="onChangeTable(config, $event)"
              (numPages)="numPages = $event">
  </pagination>
  <pre *ngIf="config.paging" class="card card-block card-header">Página: {{page}} / {{numPages}}</pre>
</div> -->
