<div [@routerTransition]>
    <div class="loader" *ngIf='isLoading'></div>
    <app-page-header [heading]="'Lista de Precios de Adicionales de Cartelería'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <app-item [selectedItem]="selectedItem" (itemUpdated)="handleItemUpdated($event)"></app-item>
    <div class="row">
        <div class="col-xl-12">
            <div class="form-group input-group">
                <input #search class="form-control" type="text" placeholder="Filtrar todas las columnas..." (keyup.enter)="onSearch(search.value)">
                <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="onSearch(search.value)">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
            </div>
            <div class="container-fluid">
                <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="userRowSelect($event)"></ng2-smart-table>
            </div>
        </div>
    </div>
</div>