<div class="card-block">
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">{{modalTitle}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>{{modalMessage}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="c('Close click')">Cerrar</button>
        </div>
    </ng-template>
</div>