<div [@routerTransition]>
    <div class="loader" *ngIf='isLoading'></div>
    <app-page-header [heading]="'Forma de Pago'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <p></p>
    <div class="row">
        <form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
            <div class="form-group input-group">
                <span class="input-group-addon">ID</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Forma de pago</span>
                <input name="formapago" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="selectedEntity.formapago" #formapago="ngModel">
            </div>
            <div *ngIf="formapago.invalid && (formapago.dirty || formapago.touched)" class="alert alert-danger">
                <div *ngIf="formapago.errors.required">
                    Forma de pago obligatoria.
                </div>
                <div *ngIf="formapago.errors.minlength">
                    La longitud mínima es de 4 caracteres.
                </div>
            </div>
			<div class="form-group input-group">
				<div class="checkbox input-group-addon">
					<label> Bancario
						<input type="checkbox" [checked]="bancario" (change)="bancario = !bancario">
					</label>
				</div>
			</div>
			<div class="form-group input-group">
				<div class="checkbox input-group-addon">
					<label> Cheque
						<input type="checkbox" [checked]="cheque" (change)="cheque = !cheque">
					</label>
				</div>
			</div>
            <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave()">Guardar</button>
            <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
        </form>
    </div>
</div>
