<div [@routerTransition]>
    <div class="loader" *ngIf='isLoading'></div>
    <app-page-header [heading]="'Informe General de Caja'" [icon]="'fa-edit'"></app-page-header>        
    <div class="btn-group" role="group" aria-label="Basic example">
    </div>
    <form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
        <div class="form-group input-group">
            <span class="input-group-addon">Fecha Desde</span>
            <input name="fechadesde" class="form-control" placeholder="aaaa-mm-dd" [(ngModel)]="fechaDesde" ngbDatepicker #fechadesde="ngbDatepicker">
            <div class="input-group-addon" (click)="fechadesde.toggle()">
                <span class="fa fa-calendar"></span>
            </div>
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon">Fecha Hasta</span>
            <input name="fechahasta" class="form-control" placeholder="aaaa-mm-dd" [(ngModel)]="fechaHasta" ngbDatepicker #fechahasta="ngbDatepicker">
            <div class="input-group-addon" (click)="fechahasta.toggle()">
                <span class="fa fa-calendar"></span>
            </div>
        </div>
        <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="genInforme()">Generar</button>
    </form>
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                Ingresos
            </div>
            <div class="card-block table-responsive">
                <ng2-smart-table 
                    [settings]="settingscobros" 
                    [source]="sourcecobros"
                    (userRowSelect)="userRowSelectRecibos($event)"></ng2-smart-table>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Ingresos Totales </span>
                <p class="form-control"><span>$ {{ this.selectedEntity.totalingreso | number : '1.2-2'}}</span></p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                Egresos
            </div>
            <div class="card-block table-responsive">
                <ng2-smart-table 
                    [settings]="settingspagos" 
                    [source]="sourcepagos"
                    (userRowSelect)="userRowSelectGastos($event)"></ng2-smart-table>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Egresos Totales </span>
                <p class="form-control"><span>$ {{ this.selectedEntity.totalegreso | number : '1.2-2'}}</span></p>
            </div>
        </div>
    </div>
</div>
