<div [@routerTransition]>
    <app-page-header [heading]="'Item de Papelería'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <p></p>
    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Papelería</b></ng-template>
            <ng-template ngbTabContent>
                <app-data></app-data>
            </ng-template>
        </ngb-tab>
        <ngb-tab [disabled]="isNew()">
            <ng-template ngbTabTitle><b>Adicionales</b></ng-template>
            <ng-template ngbTabContent>
                <app-adicionales></app-adicionales>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
