<div class="loader" *ngIf='isLoading'></div>
<br>
<form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Número</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Proveedor</span>
                <select name="idproveedor" class="form-control" 
                    [disabled]="!isNew()"
                    [(ngModel)]="selectedEntity.idproveedor" 
                    required
                    #idproveedor="ngModel">
                    <option *ngFor="let instance of dataProveedores" [value]="instance.id" [selected]="instance.id === selectedEntity.idproveedor">{{instance.razonsocial}}</option>
                </select>
            </div>
            <div *ngIf="idproveedor.errors && idproveedor.touched" class="alert alert-danger">
                <div *ngIf="idproveedor.errors.required">Debe seleccionar un proveedor.</div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Fecha</span>
                <input name="fecha" 
                    class="form-control" 
                    placeholder="aaaa-mm-dd"
                    [disabled]="isEmited()"
                    required 
                    [(ngModel)]="fechaGasto" ngbDatepicker #fecha="ngbDatepicker" placement="top">
                <div class="input-group-addon" (click)="fecha.toggle()" [hidden]="isEmited()">
                    <span class="fa fa-calendar"></span>
                </div>
            </div>
            <div *ngIf="fecha.errors && fecha.touched" class="alert alert-danger">
                <div *ngIf="fecha.errors.required">Debe ingresar una fecha.</div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Estado</span>
                <p class="form-control"><span class='disables' *ngIf='isEmited(); then emitido else borrador'></span></p>
                <ng-template #emitido>Emitido</ng-template>
                <ng-template #borrador>Borrador</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Concepto</span>
                <input 
                    name="concepto" class="form-control" required maxlength="256" 
                    [disabled]="isEmited()"
                    [(ngModel)]="selectedEntity.concepto" #concepto="ngModel">
            </div>
            <div *ngIf="concepto.invalid && (concepto.dirty || concepto.touched)" class="alert alert-danger">
                <div *ngIf="concepto.errors.required">
                    El Concepto es obligatorio.
                </div>
                <div *ngIf="concepto.errors.maxlength">
                    La longitud máxima es de 50 caracteres.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Monto $</span>
                <p class="form-control"><span class='disables'>{{selectedEntity.monto}}</span></p>
            </div>
        </div>
    </div>
    <button type="button" [disabled]="mainForm.invalid || isEmited()" class="btn btn-primary" (click)="onSave()">Guardar</button>                 
    <button type="button" [disabled]="isNew() || isEmited()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
</form>
<br /><br /><br /><br />