<div [@routerTransition]>
  <div class="loader" *ngIf='isLoading'></div>
  <app-page-header [heading]="'Formas de Pago'" [icon]="'fa-edit'"></app-page-header>
  <button type="button" class="btn btn-primary" (click)="nuevo()">Nueva</button>
  <div class="row">
    <div class="col-md-4">
        <br>
        <div class="form-group input-group">
          <input #search class="form-control" type="text" placeholder="Filtrar todas las columnas..." (keyup.enter)="onSearch(search.value)">
          <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="onSearch(search.value)">
              <span class="fa fa-search" aria-hidden="true"></span>
          </button>
          <br>
        </div>
    </div>
  </div>
  <div class="container-fluid">
    <ng2-smart-table class="table-responsive" [settings]="settings" [source]="source" (userRowSelect)="userRowSelect($event)"></ng2-smart-table>
  </div>
</div>
  