<div class="loader" *ngIf='isLoading'></div>
<p></p>
<form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <div class="form-group input-group" ngbTooltip="Indica el efectivo registrado en el arqueo anterior">
                <span class="input-group-addon">Efectivo cierre anterior</span>
                <p class="form-control"><span>$ {{ selectedEntity.efectivoanterior | number : '1.2-2'}}</span></p>
            </div>
            <div class="form-group input-group"
                ngbTooltip="Por defecto es el efectivo del cierre anterior, pero se puede modificar.">
                <span class="input-group-addon">Efectivo</span>
                <input type="number" name="efectivoinicio" class="form-control" pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0"
                    [readonly]="!isOpenable()"
                    (input)="onDataChange()"
                    [(ngModel)]="selectedEntity.efectivoinicio" 
                    #efectivoinicio="ngModel">
            </div>
            <div *ngIf="efectivoinicio.invalid && (efectivoinicio.dirty || efectivoinicio.touched)" class="alert alert-danger">
                <div *ngIf="efectivoinicio.errors">
                    Valor no válido.
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group input-group"
                ngbTooltip="Indica la diferencia entre el efectivo del cierre anterior y el efectivo con el cual se inicia el día.">
                <span class="input-group-addon">Diferencia</span>
                <p class="form-control"><span class='disables'>$ {{ diferencia | number : '1.2-2'}}</span></p>
            </div>
        </div> 
    </div>
    <hr>
    <div class="container-fluid">
        <h4>Cheques en cartera</h4>
        <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
    </div>
    <p><span>Cantidad de cheques: {{cantidad}}</span></p>
    <button type="button" [disabled]="mainForm.invalid || !isOpenable()" class="btn btn-primary" (click)="onSave(content)">Registrar Inicio</button>
</form>
