<div [@routerTransition]>
    <div class="loader" *ngIf='isLoading'></div>
    <app-page-header [heading]="'Cliente'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <hr>
    <div class="row">
        <form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
            <div class="form-group input-group">
                <span class="input-group-addon">ID</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Razón Social</span>
                <input name="razonsocial" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="selectedEntity.razonsocial" #razonsocial="ngModel">
            </div>
            <div *ngIf="razonsocial.invalid && (razonsocial.dirty || razonsocial.touched)" class="alert alert-danger">
                <div *ngIf="razonsocial.errors.required">
                    Razón Social obligatorio.
                </div>
                <div *ngIf="razonsocial.errors.minlength">
                    La longitud mínima es de 4 caracteres.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Celular</span>
                <input name="telefono" class="form-control" required minlength="4" maxlength="50" [(ngModel)]="selectedEntity.telefono" #telefono="ngModel">
            </div>
            <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
                <div *ngIf="telefono.errors.required">
                    Teléfono obligatorio.
                </div>
                <div *ngIf="telefono.errors.minlength">
                    La longitud mínima es de 4 caracteres.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Correo Electrónico</span>
                <input name="email" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="selectedEntity.email" #email="ngModel">
            </div>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <div *ngIf="email.errors.required">
                    Correo electrónico obligatorio.
                </div>
                <div *ngIf="email.errors.minlength">
                    La longitud mínima es de 4 caracteres.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Dirección</span>
                <input name="direccion" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="selectedEntity.direccion" #direccion="ngModel">
            </div>
            <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="alert alert-danger">
                <div *ngIf="direccion.errors.required">
                    Dirección obligatoria.
                </div>
                <div *ngIf="direccion.errors.minlength">
                    La longitud mínima es de 4 caracteres.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Tipo de cliente</span>
                <select name="idtipodecliente" class="form-control" [(ngModel)]="selectedEntity.idtipodecliente" #idtipodecliente="ngModel">
                    <option *ngFor="let instance of dataTiposClientes" [value]="instance.id" [selected]="instance.id === selectedEntity.idtipodecliente">{{instance.clientetipo}}</option>
                </select>
                <div *ngIf="idtipodecliente.errors && idtipodecliente.touched" class="alert alert-danger">
                    <div *ngIf="idtipodecliente.errors.required">Debe seleccionar un Tipo de Cliente.</div>
                </div>
            </div>
            <fieldset class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">CUIT</span>
                    <input name="cuit" class="form-control" pattern="[0-9]+" maxlength="11" [(ngModel)]="selectedEntity.cuit" #cuit="ngModel">
                </div>
                <div *ngIf="cuit.invalid && (cuit.dirty || cuit.touched)" class="alert alert-danger">
                    <div *ngIf="cuit.errors.required">
                        CUIT obligatorio.
                    </div>
                    <div *ngIf="cuit.errors.minlength || cuit.errors.maxlength">
                        La longitud es de 11 caracteres.
                    </div>
                </div>
            </fieldset>
            <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave()">Guardar</button>                 
            <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
        </form>
    </div>
</div>
