<div [@routerTransition]>
    <app-page-header [heading]="'Presupuesto'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
        <button type="button" class="btn btn-primary" [disabled]="getEstado() < 0" (click)="emitir()">Emitir</button>
        <button type="button" class="btn btn-primary" [disabled]="getEstado() < 1" (click)="aProduccion()">Produccion</button>
        <button type="button" class="btn btn-primary" [disabled]="getEstado() < 1" (click)="genRecibo(content)">Gen Recibo</button>
    </div>
    <hr>
    <ngb-tabset [activeId]="activeTabId" (tabChange)="onTabChange($event)">
        <ngb-tab id="1">
            <ng-template ngbTabTitle><b>Detalle del presupuesto</b></ng-template>
            <ng-template ngbTabContent>
                <div class="tab-section">
                    <app-data [selectedEntity]="selectedEntity"></app-data>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="2" [disabled]="isNew()">
            <ng-template ngbTabTitle><b>Items</b></ng-template>
            <ng-template ngbTabContent>
                <div class="tab-section">
                    <app-items [selectedEntity]="selectedEntity"></app-items>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <div class="card-block">
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{modalMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Cerrar</button>
            </div>
        </ng-template>
    </div>
</div>
