<div [@routerTransition]>
    <app-page-header [heading]="'Lista de precios'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
        <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="gotoItems()">Items</button>
        <button type="button" [disabled]="isNew() || !hasAdicionales()" class="btn btn-primary" (click)="gotoAdicionales()">Adicionales</button>
    </div>
    <p></p>
    <div class="loader" *ngIf='isLoading'></div>
    <form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <div class="form-group input-group">
                    <span class="input-group-addon">Código</span>
                    <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                    <ng-template #nuevo>Nuevo</ng-template>
                    <ng-template #existente>{{selectedEntity.id}}</ng-template>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Descripción</span>
                    <input name="listaprecio" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="selectedEntity.listaprecio" #listaprecio="ngModel">
                </div>
                <div *ngIf="listaprecio.invalid && (listaprecio.dirty || listaprecio.touched)" class="alert alert-danger">
                    <div *ngIf="listaprecio.errors.required">
                        Descripción de la lista de precios obligatoria.
                    </div>
                    <div *ngIf="listaprecio.errors.minlength">
                        La longitud mínima es de 4 caracteres.
                    </div>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Tipo de servicio</span>
                    <select name="idtiposervicio" class="form-control" 
                        (change)="onChange(false)"
                        [(ngModel)]="selectedEntity.idtiposervicio" 
                        #idtiposervicio="ngModel">
                        <option [value]="1" [selected]="selectedEntity.idtiposervicio === 1">Cartelería</option>
                        <option [value]="2" [selected]="selectedEntity.idtiposervicio === 1">Diseño</option>
                        <option [value]="3" [selected]="selectedEntity.idtiposervicio === 1">Impresión Láser</option>
                        <option [value]="4" [selected]="selectedEntity.idtiposervicio === 1">Papelería</option>
                    </select>
                    <div *ngIf="idtiposervicio.errors && idtiposervicio.touched" class="alert alert-danger">
                        <div *ngIf="idtiposervicio.errors.required">Debe seleccionar un tipo de servicio.</div>
                    </div>
                </div>
                <div class="form-group input-group">
                        <span class="input-group-addon">Tipo de Cliente</span>
                        <select name="idtipocliente" class="form-control" 
                            [(ngModel)]="selectedEntity.idtipocliente" 
                            #idtipocliente="ngModel">
                            <option *ngFor="let instance of dataClientesTipos" [value]="instance.id" [selected]="instance.id === selectedEntity.idtipocliente">{{instance.clientetipo}}</option>
                        </select>
                        <div *ngIf="idtipocliente.errors && idtipocliente.touched" class="alert alert-danger">
                            <div *ngIf="idtipocliente.errors.required">Debe seleccionar un tipo de cliente.</div>
                        </div>
                    </div>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
                <div class="form-group input-group">
                    <span class="input-group-addon">Lista Base</span>
                    <select name="idlistabase" class="form-control" 
                        [(ngModel)]="selectedEntity.idlistabase" 
                        #idlistabase="ngModel">
                        <option *ngFor="let instance of dataListasBasesFilt" [value]="instance.id" [selected]="instance.id === selectedEntity.idlistabase">{{instance.listaprecio}}</option>
                    </select>
                    <div *ngIf="idlistabase.errors && idlistabase.touched" class="alert alert-danger">
                        <div *ngIf="idlistabase.errors.required">Debe seleccionar una lista base.</div>
                    </div>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Descuentos / Recargos</span>
                    <input type="number" name="desyreca" class="form-control" 
                        onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45'
                        min="1" 
                        [(ngModel)]="selectedEntity.desyreca" 
                        #desyreca="ngModel">
                    
                <button class="btn" (click)="applyPorcentaje()"><i class="fa fa-percent"></i> </button>
                </div>
                <div *ngIf="desyreca.invalid && (desyreca.dirty || desyreca.touched)" class="alert alert-danger">
                    <div *ngIf="desyreca.errors">
                        Valor no válido.
                    </div>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Monto a agregar</span>
                    <input type="number" name="monto" class="form-control" 
                        onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45'
                        min="1" 
                        [(ngModel)]="selectedEntity.monto" 
                        #monto="ngModel">
                        <button class="btn" (click)="applyMonto()"><i class="fa fa-plus-square"></i> </button>
                </div>
                <div *ngIf="monto.invalid && (monto.dirty || monto.touched)" class="alert alert-danger">
                    <div *ngIf="monto.errors">
                        Valor no válido.
                    </div>
                </div>
                <div class="form-group input-group" *ngIf='isPapeleria() || isImpresion()'>
                    <span class="input-group-addon">Porcentaje doble faz</span>
                    <input type="number" name="doblefaz" class="form-control"
                        onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45'
                        [(ngModel)]="selectedEntity.doblefaz" 
                        #doblefaz="ngModel">
                </div>
                <div class="form-group input-group" *ngIf="isPapeleria() || isImpresion()">
                    <span class="input-group-addon">Porcentaje B/N</span>
                    <input type="number" name="color" class="form-control"
                        onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 45'
                        [(ngModel)]="selectedEntity.color" 
                        #color="ngModel">
                </div>
            </div>
        </div>
        <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave()">Guardar</button>
        <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
    </form>
</div>
