<div [@routerTransition]>
    <div class="loader" *ngIf='isLoading'></div>
    <app-page-header [heading]="'Compra'" [icon]="'fa-edit'"></app-page-header> 
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
        <button type="button" class="btn btn-primary" *ngIf="!isNew()" (click)="pagar()">Pagar</button>
    </div>
    <hr> 
    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Detalle de la compra</b></ng-template>
            <ng-template ngbTabContent>
                <app-data></app-data>
            </ng-template>
        </ngb-tab>
        <ngb-tab [disabled]="isNew()">
            <ng-template ngbTabTitle><b>Ítems</b></ng-template>
            <ng-template ngbTabContent>
                <app-items></app-items>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
