<div [@routerTransition]>
    <div class="loader" *ngIf='isLoading'></div>
    <app-page-header [heading]="'Cheques'" [icon]="'fa-edit'"></app-page-header>
    <!-- <button type="button" class="btn btn-primary" (click)="nuevo()">Nuevo</button> -->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group input-group">
            <input #search class="form-control" type="text" placeholder="Filtrar todas las columnas..." (keyup.enter)="onSearch(search.value)">
            <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="onSearch(search.value)">
                <span class="fa fa-search" aria-hidden="true"></span>
            </button>
            <br>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="checkbox-inline"> Recibos
                    <input type="checkbox" [checked]="recibos" (change)="onCheck(0)">
                </label>
                <label class="checkbox-inline"> Gastos
                    <input type="checkbox" [checked]="gastos" (change)="onCheck(1)">
                </label>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <ng2-smart-table class="table-responsive" 
            [settings]="settings" 
            [source]="source" 
            (userRowSelect)="userRowSelect($event)"></ng2-smart-table>
    </div>
    <div class="row">
		<div class="col-sm-6 col-sm-push-6">
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <div class="row-xs alert depositado">
                Cheques <strong>depositados/cobrados/entregados!</strong>.
            </div>
            <div class="row-xs alert encartera">
                Cheques <strong>en cartera!</strong>.
            </div>
        </div>
    </div>
</div>