<div class="loader" *ngIf='isLoading'></div>
<p> </p>
<form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
    <div class="row">
		<div class="col-sm-6 col-sm-push-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Tipo de comprobante</span>
                <select name="idtipocomprobante" class="form-control"
                    [disabled]="isSalded()"
                    [(ngModel)]="selectedEntity.idtipocomprobante"
                    #idtipocomprobante="ngModel">
                    <option *ngFor="let instance of dataTiposComprobantes" 
                        [value]="instance.id" 
                        [selected]="instance.id === selectedEntity.idtipocomprobante">{{instance.tipocomprobante}}
                    </option>
                </select>
            </div>
            <div *ngIf="idtipocomprobante.errors && idtipocomprobante.touched" class="alert alert-danger">
                <div *ngIf="idtipocomprobante.errors.required">Debe seleccionar un tipo de comprobante.</div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Número</span>
                <input name="numero" class="form-control" maxlength="20" 
                    [disabled]="isSalded()"
                    [(ngModel)]="selectedEntity.numero" #numero="ngModel">
            </div>
            <div *ngIf="numero.invalid && (concepto.dirty || numero.touched)" class="alert alert-danger">
                <div *ngIf="numero.errors.maxlength">
                    La longitud máxima es de 50 caracteres.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Proveedor</span>
                <select name="idproveedor" class="form-control" 
                    [disabled]="isSalded()"
                    [(ngModel)]="selectedEntity.idproveedor" 
                    #idproveedor="ngModel">
                    <option *ngFor="let instance of dataProveedores" 
                        [value]="instance.id" 
                        [selected]="instance.id === selectedEntity.idproveedor">{{instance.razonsocial}}
                    </option>
                </select>
                <div *ngIf="idproveedor.errors && idproveedor.touched" class="alert alert-danger">
                    <div *ngIf="idproveedor.errors.required">Debe seleccionar un proveedor.</div>
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Fecha</span>
                <input name="fecemision" class="form-control" placeholder="aaaa-mm-dd" 
                    [disabled]="isSalded()"
                    [(ngModel)]="fechaEmision" 
                    ngbDatepicker #fecha="ngbDatepicker">
                <div class="input-group-addon" (click)="fecha.toggle()">
                    <span class="fa fa-calendar"></span>
                </div>
            </div>
			<div class="form-group">
				<label class="input-group-addon">Observaciones</label>
                <textarea class="form-control" rows="3" maxlength="512" 
                    [disabled]="isSalded()"
                    [(ngModel)]="selectedEntity.observacion" 
                    name="selectedEntity.observacion">
                </textarea>
            </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group input-group"
                [ngClass]="{'has-danger': subtotal.invalid && (subtotal.dirty || subtotal.touched)}">
                <span class="input-group-addon">Subtotal $</span>
                <input type="number" name="subtotal" class="form-control" required pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0"
                    [disabled]="isSalded()"
                    [(ngModel)]="selectedEntity.subtotal"
                    [ngbTooltip]="subtotal.invalid && (subtotal.dirty || subtotal.touched) ? 'Valor no válido.' : ''"
                    #subtotal="ngModel">
            </div>
            <div class="form-group input-group"
                [ngClass]="{'has-danger': total.errors && (total.dirty || total.touched)}">
                <span class="input-group-addon">Total $</span>
                <input type="number" name="total" class="form-control" required pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0"
                    [disabled]="isSalded()"
                    [(ngModel)]="selectedEntity.total"
                    [ngbTooltip]="total.errors && (total.dirty || total.touched) ? 'Valor no válido.' : ''"
                    #total="ngModel">
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Saldo</span>
                <p class="form-control"><span class='disables'>$ {{ selectedEntity.saldo | number : '1.2-2'}}</span></p>
            </div>
        </div>
    </div>
    <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave()">Guardar</button>
    <button type="button" [disabled]="mainForm.invalid || isNew()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
    <br /><br /><br /><br />
</form>
