<div [@routerTransition]>
    <div class="loader" *ngIf='isLoading'></div>
    <app-page-header [heading]="'Caja'" [icon]="'fa-edit'"></app-page-header>
    <ngb-tabset [activeId]="tabActivo">
        <ngb-tab id="0"
            [disabled]="isArqueable()">
            <ng-template ngbTabTitle><b>Inicio de día</b></ng-template>
            <ng-template ngbTabContent>
                <app-iniciodia (dataUpdated)="handleDataUpdated($event)"></app-iniciodia>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="1"
            [disabled]="!isArqueable()">
            <ng-template ngbTabTitle><b>Arqueo</b></ng-template>
            <ng-template ngbTabContent>
                <app-arqueo (dataUpdated)="handleDataUpdated($event)"></app-arqueo>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="2">
            <ng-template ngbTabTitle><b>Retiros de efectivo</b></ng-template>
            <ng-template ngbTabContent>
                <app-retiros></app-retiros>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
