<div [@routerTransition]>
    <app-page-header [heading]="'Gasto'" [icon]="'fa-edit'"></app-page-header>  
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
        <button type="button" class="btn btn-primary" [disabled]="isNew()" (click)="emitir()">Emitir</button>
    </div>
    <hr>
    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Detalle del gasto</b></ng-template>
            <ng-template ngbTabContent>
                <app-gastodata [selectedGasto]="selectedGasto"></app-gastodata>
            </ng-template>
        </ngb-tab>
        <ngb-tab [disabled]="isNew()">
            <ng-template ngbTabTitle><b>Formas de pago</b></ng-template>
            <ng-template ngbTabContent>
                <app-gastoitems [selectedGasto]="selectedGasto"></app-gastoitems>
            </ng-template>
        </ngb-tab>
        <ngb-tab [disabled]="isNew()">
            <ng-template ngbTabTitle><b>Deudas</b></ng-template>
            <ng-template ngbTabContent>
                <app-deudas [selectedGasto]="selectedGasto"></app-deudas>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
