<div class="loader" *ngIf='isLoading'></div>
<p> </p>
<form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Código</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Seleccionar</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Adicional</span>
                <p class="form-control"><span>{{selectedEntity.tipoadicional}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Precio</span>
                <input type="number" name="precio" class="form-control" pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0" 
                    [disabled]="isNew()"
                    [(ngModel)]="selectedEntity.precio" 
                    #precio="ngModel">
            </div>
            <div *ngIf="precio.invalid && (precio.dirty || precio.touched)" class="alert alert-danger">
                <div *ngIf="precio.errors">
                    Valor no válido.
                </div>
            </div>
        </div>
    </div> 
    <button type="button" [disabled]="isNew() || mainForm.invalid" class="btn btn-primary" (click)="onSave()">Guardar</button>
    <button type="button" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
</form>