
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');
$topnav-background-color: #3d255f;
$roboto-slab: 'Roboto', sans-serif;

html,
body {
  height: 100%;
  background-color: #3d255f;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background: $topnav-background-color;
 }
 .login-page {
    background: $topnav-background-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: #fff;
    padding: 3em;
 }

.logo {
  margin:40px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 40px 20px;
  margin: auto;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}
.form-signin h1 {color:#616976;letter-spacing: -1px;font-weight: 700;}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.red {
    background-color: #f92000; color: white;
   
}
.red:hover {
    background-color: #ad230f;    
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
.mensaje {max-width: 330px; margin-left: auto;margin-right: auto;}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  color: #f5f5f5;
  text-align: center;
}
.footer p {margin-bottom:0;}
