<p> </p>
<div class="row">
	<form role="form" #mainForm="ngForm" (ngSubmit)="onSubmit()">
		<div class="form-group input-group">
			<span class="input-group-addon">Modulo</span>
			<p class="form-control"><span class='disables'>{{selectedEntity.modulo}}</span></p>
		</div>
		<div class="row">
			<div class="form-group input-group">
				<div class="checkbox input-group-addon">
					<label> Ver
						<input type="checkbox" [checked]="ver" (change)="ver = !ver">
					</label>
				</div>
			</div>
			<div class="form-group input-group">
				<div class="checkbox input-group-addon">
					<label> Editar
						<input type="checkbox" [checked]="editar" (change)="editar = !editar">
					</label>
				</div>
			</div>
			<div class="form-group input-group">
				<div class="checkbox input-group-addon">
					<label> Eliminar
						<input type="checkbox" [checked]="eliminar" (change)="eliminar = !eliminar">
					</label>
				</div>
			</div>
		</div>
		<button type="button" [disabled]="mainForm.invalid || !isLoad()" class="btn btn-primary" (click)="onSubmit(); mainForm.reset()">Guardar</button>
		<button type="button" [disabled]="!isLoad()" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
	</form>
</div>
