<div [@routerTransition]>
    <h2 class="text-muted">Dashboard <small>Visión General</small></h2>
    <!-- <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div> -->
    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat 
                [bgClass]="'card-primary'" 
                [icon]="'fa-comments'" 
                [count]="resumenEntity.enproduccion" 
                [label]="'Total de presupuestos en producción!'"
                (event)="goResumenAProduccion()"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat 
                [bgClass]="'card-info'" 
                [icon]="'fa-tasks'" 
                [count]="resumenEntity.noaprobados" 
                [label]="'Total de presupuestos pendientes de aprobación!'"
                (event)="goNoAprobados()"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat 
                [bgClass]="'card-success'" 
                [icon]="'fa-shopping-cart'" 
                [count]="resumenEntity.caja" 
                [label]="'Total de caja al día!'"
                (event)="goCaja()"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat 
                [bgClass]="'card-danger'" 
                [icon]="'fa-support'" 
                [count]="resumenEntity.clientectacte" 
                [label]="'Total clientes en cuenta corriente!'"
                (event)="goClienteCtaCte()"></app-stat>
        </div>
    </div>
    <hr />
    <ngb-alert [type]="alert.type" (close)="closeAlert(alert)" *ngFor="let alert of alerts">{{ alert.message }}</ngb-alert>
    <hr />
</div>
