<div class="loader" *ngIf='isLoading'></div>
<form role="form" #mainForm="ngForm">
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <div class="form-group input-group">
                 <span class="input-group-addon">Tipo</span>
                 <p class="form-control"><span class='disables'>{{selectedEntity.tipocomprobante}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Número</span>
                <p class="form-control"><span class='disables'>{{selectedEntity.numero}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Fecha</span>
                <p class="form-control"><span class='disables'>{{fecEmision}}</span></p>
            </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">  
            <div class="form-group input-group">
                <span class="input-group-addon">Saldo</span>
                <p class="form-control"><span class='disables'>{{selectedEntity.saldo | currency:'ARS':true:'1.2-2'}}</span></p>
            </div>
            <div class="form-group input-group"
                [ngClass]="{'has-danger': montoacancelar.errors && (montoacancelar.dirty || montoacancelar.touched) && selectedEntity.id !== undefined}">
                <span class="input-group-addon">Monto a Cancelar $</span>
                <input type="number" name="montoacancelar" class="form-control" pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0" 
                    required
                    [(ngModel)]="selectedEntity.montoacancelar" 
                    [ngbTooltip]="(montoacancelar.errors && (montoacancelar.dirty || montoacancelar.touched) && selectedEntity.id !== undefined) ? 'Debe ingresar el monto a cancelar.' : ''"
                    #montoacancelar="ngModel">
            </div>
        </div>
    </div>
    <button type="button" [disabled]="mainForm.invalid || isEmited() || selectedEntity.id === undefined" class="btn btn-primary" (click)="onSave()">Guardar</button>
    <button type="button" [disabled]="isNew() || isEmited() || selectedEntity.id === undefined" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
    <button type="button" [disabled]="isEmited() || selectedEntity.id === undefined" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
</form>
