<div [@routerTransition]>
    <div class="loader" *ngIf='isLoading'></div>
    <app-page-header [heading]="'Perfil de usuario'" [icon]="'fa-edit'" [hidden]="defaultLog"></app-page-header>
    <br>
    <div class="row">
        <div *ngIf="defaultLog" class="alert alert-danger">
            Debe cambiar la contraseña por defecto para poder acceder a los demás módulos.
        </div>
        <form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
            <div class="form-group input-group">
                <span class="input-group-addon">ID</span>
                <p class="form-control"><span class='disables'>{{selectedEntity.id}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Apellidos</span>
                <p class="form-control"><span class='disables'>{{selectedEntity.apellido}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Nombres</span>
                <p class="form-control"><span class='disables'>{{selectedEntity.nombre}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Usuario</span>
                <p class="form-control"><span class='disables'>{{selectedEntity.usuario}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Nueva contraseña</span>
                <input type="password" name="newcontrasena" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="changePass.newcontrasena" #newcontrasena="ngModel">
            </div>
            <div *ngIf="newcontrasena.invalid && (newcontrasena.dirty || newcontrasena.touched)" class="alert alert-danger">
                <div *ngIf="newcontrasena.errors.required">
                    Nueva contraseña obligatoria.
                </div>
                <div *ngIf="newcontrasena.errors.minlength">
                    La longitud mínima es de 4 caracteres.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Repetir contraseña</span>
                <input type="password" name="repitcontrasena" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="changePass.repitcontrasena" #repitcontrasena="ngModel">
            </div>
            <div *ngIf="repitcontrasena.invalid && (repitcontrasena.dirty || repitcontrasena.touched)" class="alert alert-danger">
                <div *ngIf="repitcontrasena.errors.required">
                    Contraseña obligatoria.
                </div>
                <div *ngIf="repitcontrasena.errors.minlength">
                    La longitud mínima es de 4 caracteres.
                </div>
            </div>            
            <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave(content)">Cambiar contraseña</button>
        </form>
		<div class="card-block">
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">{{modalTitle}}</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>{{modalMessage}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Cerrar</button>
                </div>
            </ng-template>
        </div>
    </div>
    <!-- <aapp-modal-message [modalTitle]="'Perfil de usuario'" [modalMessage]="''"></app-modal-message> -->
</div>
