<form role="form" #mainForm="ngForm" (ngSubmit)="onSubmit()" [ngClass]="{'disable-inputs': isEmited()}">		
	<div class="row">
		<div class="col-sm-6 col-sm-push-6">
			<div class="form-group input-group">
				<span class="input-group-addon">ID</span>
				<p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
				<ng-template #nuevo>Nuevo</ng-template>
				<ng-template #existente>{{selectedEntity.id}}</ng-template>
			</div>
			<div class="form-group input-group">
				<span class="input-group-addon">Tipo forma de pago</span>
				<select 
					name="idformapago" 
					class="form-control" required 
					(change)="onFormaPagoChange()"
					[(ngModel)]="selectedEntity.idformapago" 
					#idformapago="ngModel">
					<option *ngFor="let instance of dataFormasPagos" 
						[value]="instance.id" 
						[selected]="instance.id === selectedEntity.idformapago">{{instance.formapago}}</option>
				</select>
			</div>
			<div *ngIf="idformapago.errors && idformapago.touched" class="alert alert-danger">
				<div *ngIf="idformapago.errors.required">Debe seleccionar una forma de pago.</div>
			</div>
			<div class="form-group input-group" [hidden]="!isBancario()">
				<span class="input-group-addon">Banco</span>
				<select name="idbanco" class="form-control" 
					[disabled]= "isEnCartera()"
					[(ngModel)]="selectedEntity.idbanco" 
					[required]="isBancario()"
					#idbanco="ngModel">
					<option *ngFor="let instance of dataBancos" [value]="instance.id" [selected]="instance.id === selectedEntity.idbanco">{{instance.banco}}</option>
				</select>
			</div>
			<div *ngIf="idbanco.errors && idbanco.touched" class="alert alert-danger">
				<div *ngIf="idbanco.errors.required">Debe seleccionar un banco.</div>
			</div>
			<div class="form-group input-group" [hidden]="!isCheque()">
                <div class="checkbox input-group-addon">
                    <label> Propio
                        <input type="checkbox" [checked]="propio" (change)="onPropios()">
                    </label>
                </div>
            </div>
			<div class="form-group input-group" [hidden]="!isEnCartera()">
				<span class="input-group-addon">Cheques en cartera</span>
				<select name="idcheque" class="form-control" 
					[(ngModel)]="selectedEntity.idcheque" 
					[required]="isEnCartera()"
					(change)="onChangeEnCartera()"
					#idcheque="ngModel">
					<option *ngFor="let instance of dataEnCartera" [value]="instance.id" [selected]="instance.id === selectedEntity.idcheque">{{instance.librador}}</option>
				</select>
			</div>
			<div *ngIf="idcheque.errors && idcheque.touched" class="alert alert-danger">
				<div *ngIf="idcheque.errors.required">Debe seleccionar un cheque en cartera.</div>
			</div>
		</div>
		<div class="col-sm-6 col-sm-pull-6">
			<div class="form-group input-group" [hidden]="!isBancario()">
				<span class="input-group-addon" [hidden]="isCheque()">Fecha</span>
				<span class="input-group-addon" [hidden]="!isCheque()">Fecha de emisión</span>
				<input name="fecha" class="form-control" placeholder="aaaa-mm-dd" 
					[(ngModel)]="fechaItem" 
					[required]="isBancario()"
					[readonly]="isEnCartera()"
					ngbDatepicker 
					#fecha="ngbDatepicker">
				<div class="input-group-addon" (click)="fecha.toggle()">
					<span class="fa fa-calendar"></span>
				</div>
			</div>
			<div class="form-group input-group" [hidden]="!isCheque()">
				<span class="input-group-addon">Fecha de vemcimiento</span>
				<input name="fecVencimiento" class="form-control" placeholder="aaaa-mm-dd"
					[(ngModel)]="fecVencimientoItem"
					[required]="isCheque()"
					[readonly]="isEnCartera()"
					ngbDatepicker 
					#fecVencimiento="ngbDatepicker">
				<div class="input-group-addon" (click)="fecVencimiento.toggle()">
					<span class="fa fa-calendar"></span>
				</div>
			</div>
			<div class="form-group input-group" [hidden]="!isCheque()">
				<span class="input-group-addon">Destinatario</span>
				<input type="text" name="origendestino" class="form-control" 
					[required]="isCheque()"
					[readonly]="isEnCartera()"
					[(ngModel)]="selectedEntity.origendestino" 
					#origendestino="ngModel">
			</div>
			<div *ngIf="origendestino.invalid && (origendestino.dirty || origendestino.touched)" class="alert alert-danger">
				<div *ngIf="origendestino.errors">
					Valor no válido.
				</div>
			</div>
			<div class="form-group input-group" [hidden]="!isBancario() && !isCheque()">
				<span class="input-group-addon">Número</span>
				<input name="numero" class="form-control" maxlength="30"
					[required]="isBancario()"
					[readonly]=" isEnCartera()"
					[(ngModel)]="selectedEntity.numero" 
					#numero="ngModel">
			</div>
			<div *ngIf="numero.invalid && (numero.dirty || numero.touched)" class="alert alert-danger">
				<div *ngIf="numero.errors.maxlength">
					La longitud máxima es de 50 caracteres.
				</div>
				<div *ngIf="numero.errors.required">
					Número obligatorio.
				</div>
			</div>
			<div class="form-group input-group">
				<span class="input-group-addon">Monto</span>
				<input type="number" name="monto" class="form-control" 
					required 
					[readonly]=" isEnCartera()"
					pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0" step="0.01" 
					[(ngModel)]="selectedEntity.monto" 
					#monto="ngModel">
			</div>
			<div *ngIf="monto.invalid && (monto.dirty || monto.touched)" class="alert alert-danger">
				<div *ngIf="monto.errors">
					Valor no válido.
				</div>
			</div>
		</div>
	</div>
	<button type="button" [disabled]="isCero() || isEmited() || mainForm.invalid" class="btn btn-primary" (click)="onSubmit(); mainForm.reset()">Guardar</button>
	<button type="button" [disabled]="isNew() || isEmited() || mainForm.invalid" class="btn btn-primary" (click)="eliminar(); mainForm.reset()">Eliminar</button>
	<button type="button" [disabled]="isEmited()" class="btn btn-primary" (click)="cancelar(); mainForm.reset()">Cancelar</button>
</form>
