<div class="loader" *ngIf='isLoading'></div>
<p> </p>
<form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <div class="form-group input-group">
                <span class="input-group-addon">ID</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Estado</span>
                <p class="form-control"><span class='disables' *ngIf='isEmited(); then emitido else borrador'></span></p>
                <ng-template #emitido>Emitido</ng-template>
                <ng-template #borrador>Borrador</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Cliente</span>
                <select name="idcliente" class="form-control" 
                    (change)="onDataChange()" 
                    [disabled]="isEmited() || isFromPresupuesto()"
                    [(ngModel)]="selectedEntity.idcliente" 
                    #idcliente="ngModel">
                    <option *ngFor="let instance of dataClientes" 
                        [value]="instance.id" 
                        [selected]="instance.id === selectedEntity.idcliente">{{instance.razonsocial}}</option>
                </select>
                <div *ngIf="idcliente.errors && idcliente.touched" class="alert alert-danger">
                    <div *ngIf="idcliente.errors.required">Debe seleccionar un cliente.</div>
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Fecha</span>
                <input 
                    name="fecha" class="form-control" placeholder="aaaa-mm-dd" 
                    required
                    [disabled]="isEmited()" 
                    [(ngModel)]="fechaRecibo" 
                    ngbDatepicker 
                    #fecha="ngbDatepicker">
                <div
                    [hidden]="isEmited()" 
                    class="input-group-addon" 
                    (click)="fecha.toggle()">
                    <span class="fa fa-calendar"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Presupuesto</span>
                <select name="idpresupuesto" class="form-control" 
                    required
                    [disabled]="isEmited() || isFromPresupuesto()"
                    (change)="onPresupuestoChange()" 
                    [(ngModel)]="selectedEntity.idpresupuesto" 
                    #idpresupuesto="ngModel">
                    <option *ngFor="let instance of dataPresupuestos" [value]="instance.id" [selected]="instance.id === selectedEntity.idpresupuesto">{{instance.id}} - {{instance.fecemision}}</option>
                </select>
                <button 
                    type="button" class="btn btn-primary" aria-label="Left Align" 
                    [hidden]="isEmited()"
                    [disabled]="!existClient() || isFromPresupuesto()" 
                    (click)="obtenerPresupuestos()">
                    <span class="fa fa-refresh" aria-hidden="true"></span>
                </button>
            </div>
            <div *ngIf="idpresupuesto.errors && idpresupuesto.touched" class="alert alert-danger">
                <div *ngIf="idpresupuesto.errors.required">Debe seleccionar un presupuesto.</div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Importe presupuesto</span>
                <p class="form-control"><span class='disables'>{{ montopresupuesto }}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Saldo presupuesto</span>
                <p class="form-control"><span class='disables'>{{ saldopresupuesto }}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Monto</span>
                <p class="form-control"><span class='disables'>{{ montoRecibo }}</span></p>
            </div>
        </div>
    </div>
    <button type="button" [disabled]="mainForm.invalid || isEmited()" class="btn btn-primary" (click)="onSave()">Guardar</button>
    <button type="button" [disabled]="isNew() || isEmited()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
</form>
<br /><br /><br /><br />
