<div class="loader" *ngIf='isLoading'></div>
<form role="form" #mainForm="ngForm" *ngIf='!isLoading' ngNativeValidate>
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <div  class="alert alert-danger" *ngIf="!hasLista()">No dispone de lista de precios para el cliente para este tipo de servicio.</div>
            <div class="form-group input-group">
                <span class="input-group-addon">ID</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Gramaje</span>
                <select name="idgramaje" class="form-control"
                    required
                    [disabled]="!hasLista()"
                    (change)="dataChange()"
                    [(ngModel)]="selectedEntity.idgramaje"
                    #idgramaje="ngModel">
                    <option *ngFor="let instance of dataGramajes" [value]="instance.id" [selected]="instance.id === selectedEntity.idgramaje">{{instance.gramaje}}</option>
                </select>
            </div>
            <div *ngIf="idgramaje.errors && idgramaje.touched" class="alert alert-danger">
                <div *ngIf="idgramaje.errors.required">Debe seleccionar un gramajeo de diseño.</div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Tamaño</span>
                <select name="idtamano" class="form-control"
                    required
                    [disabled]="!hasLista()"
                    (input)="dataChange($event.target.value)"
                    [(ngModel)]="selectedEntity.idtamano"
                    #idtamano="ngModel">
                    <option *ngFor="let instance of dataTamanos" [value]="instance.id" [selected]="instance.id === selectedEntity.idtamano">{{instance.tamano}}</option>
                </select>
            </div>
            <div *ngIf="idtamano.errors && idtamano.touched" class="alert alert-danger">
                <div *ngIf="idtamano.errors.required">Debe seleccionar un tamaño.</div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Descripción</span>
                <input name="descripcion" class="form-control" maxlength="256"
                    required
                    [disabled]="!hasLista()"
                    [(ngModel)]="selectedEntity.descripcion"
                    #descripcion="ngModel">
            </div>
            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger">
                <div *ngIf="descripcion.errors.required">
                    La descripción es obligatoria.
                </div>
                <div *ngIf="descripcion.errors.maxlength">
                    La longitud máxima es de 50 caracteres.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Cantidad</span>
                <input type="number" name="cantidad" class="form-control" required pattern="^[0-9]+(\.[0-9]{1,2})?$" min="1"
                    [disabled]="!hasLista()"
                    (change)="dataChange()"
                    (keyup)="dataChange()"
                    [(ngModel)]="selectedEntity.cantidad"
                    #cantidad="ngModel">
            </div>
            <div *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)" class="alert alert-danger">
                <div *ngIf="cantidad.errorsrequired">
                    La cantidad de cantidad es obligatoria.
                </div>
                <div *ngIf="cantidad.errors">
                    Valor no válido.
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group input-group">
                <div class="checkbox input-group-addon">
                    <label> Doble faz
                        <input type="checkbox"  [disabled]="!hasLista()" [checked]="doblefaz" (change)="onDobleFazChage()">
                    </label>
                </div>
            </div>
            <div class="form-group input-group">
                <div class="checkbox input-group-addon">
                    <label> Color
                        <input type="checkbox"  [disabled]="!hasLista()" [checked]="color" (change)="onColorChage()">
                    </label>
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Precio</span>
                <p class="form-control"><span class='disables'>$ {{selectedEntity.precio | number : '1.2-2'}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Subtotal</span>
                <p class="form-control"><span class='disables'>$ {{subtotal | number : '1.2-2'}}</span></p>
            </div>
        </div>
    </div>
    <button type="button" [disabled]="isCero() || mainForm.invalid || !hasLista() || getEstadoHabilitante()>0" class="btn btn-primary" (click)="onNuevo(); mainForm.reset()">Nuevo</button>
    <button type="button" [disabled]="isCero() || mainForm.invalid || !hasLista() || getEstadoHabilitante()>0" class="btn btn-primary" (click)="onSave()">Guardar</button>
    <button type="button" [disabled]="isNew() || !hasLista() || getEstadoHabilitante()>0" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
</form>
