<div [@routerTransition]>
    <app-page-header [heading]="'Cuentas Corrientes'" [icon]="'fa-edit'"></app-page-header>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Cliente</span>
                <select name="idcliente" class="form-control" [(ngModel)]="idCliente" #idcliente="ngModel">
                    <option *ngFor="let instance of dataClientes" [value]="instance.id" [selected]="instance.id === idCliente">{{instance.razonsocial}}</option>
                </select>
                <div *ngIf="idcliente.errors && idcliente.touched" class="alert alert-danger">
                    <div *ngIf="idcliente.errors.required">Debe seleccionar un cliente.</div>
                </div>
                <button type="button" class="btn btn-primary" (click)="onGenerar()">Generar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group input-group">
                <input #search class="form-control" type="text" placeholder="Filtrar todas las columnas..." (keyup.enter)="onSearch(search.value)">
                <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="onSearch(search.value)">
                    <span class="fa fa-search" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="loader" *ngIf='isLoading'></div>
    <div class="container-fluid" *ngIf='!isLoading'>
        <ng2-smart-table class="table-responsive" [settings]="settings" [source]="source" (userRowSelect)="userRowSelect($event)"></ng2-smart-table>
    </div>
    <div class="row">
		<div class="col-sm-6 col-sm-push-6">
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            Total {{totalcuenta}}
        </div>
    </div>
</div>
