<div [@routerTransition]>
    <div class="loader" *ngIf='isLoading'></div>
    <app-page-header [heading]="'Banco'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <p></p>
    <br>
    <div class="row">
        <form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
            <div class="form-group input-group">
                <span class="input-group-addon">ID</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Banco</span>
                <input name="banco" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="selectedEntity.banco" #banco="ngModel">
            </div>
            <div *ngIf="banco.invalid && (banco.dirty || banco.touched)" class="alert alert-danger">
                <div *ngIf="banco.errors.required">
                    Razón Social del banco obligatoria.
                </div>
                <div *ngIf="banco.errors.minlength">
                    La longitud mínima es de 4 caracteres.
                </div>
            </div>
            <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave()">Guardar</button>                 
            <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
        </form>
    </div>
</div>
