<div [@routerTransition]>
    <app-page-header [heading]="'Recibo'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
        <button type="button" class="btn btn-primary" [disabled]="getEstado() < 1" (click)="emitir()">Emitir</button>
    </div>
    <hr>
    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle><b>Detalle del recibo</b></ng-template>
            <ng-template ngbTabContent>
                <app-recibodata></app-recibodata>
            </ng-template>
        </ngb-tab>
        <ngb-tab [disabled]="isNew()">
            <ng-template ngbTabTitle><b>Formas de cobro</b></ng-template>
            <ng-template ngbTabContent>
                <app-reciboitems (reciboUpdated)="handleReciboUpdated()"></app-reciboitems>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>
