<p> </p>
<div class="row">
    <div class=".col-xl-12">
        <form role="form" #mainForm="ngForm">
            <br>
            <div class="form-group input-group">
                <span class="input-group-addon">ID</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Rol</span>
                <input name="rol" class="form-control" required minlength="4" maxlength="32" [(ngModel)]="selectedEntity.rol" #rol="ngModel">
            </div>
            <div *ngIf="rol.invalid && (rol.dirty || rol.touched)" class="alert alert-danger">
                <div *ngIf="rol.errors.required">
                    Razón Social obligatorio.
                </div>
                <div *ngIf="rol.errors.minlength">
                    La longitud mínima es de 4 caracteres.
                </div>
            </div>
            <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave()">Guardar</button>
            <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
        </form>
    </div> 
</div>
