<div [@routerTransition]>
    <app-page-header [heading]="'Rol'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <p></p>
    <br>
    <div class="row">
        <div class=".col-xl-12">
            <ngb-tabset>
                <ngb-tab>
                    <ng-template ngbTabTitle><b>Detalle del rol</b></ng-template>
                    <ng-template ngbTabContent>
                        <app-roldata></app-roldata>
                    </ng-template>
                </ngb-tab>
                <ngb-tab [disabled]="isNew()">
                    <ng-template ngbTabTitle><b>Módulos</b></ng-template>
                    <ng-template ngbTabContent>
                        <app-items></app-items>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
            <div class="card-block">
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">{{modalTitle}}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{{modalMessage}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="c('Close click')">Cerrar</button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
