<div [@routerTransition]>
    <app-page-header [heading]="'Tamaño'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <p></p>
    <div class="row">
        <form role="form" #mainForm="ngForm">
            <div class="form-group input-group">
                <span class="input-group-addon">Código</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Descripción</span>
                <input name="tamano" class="form-control" required minlength="1" maxlength="100" [(ngModel)]="selectedEntity.tamano" #tamano="ngModel">
            </div>
            <div *ngIf="tamano.invalid && (tamano.dirty || tamano.touched)" class="alert alert-danger">
                <div *ngIf="tamano.errors.required">
                    Descripción del tamaño obligatoria.
                </div>
                <div *ngIf="tamano.errors.minlength">
                    La longitud mínima es de 1 caracteres.
                </div>
            </div>
            <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave()">Guardar</button>                 
            <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
        </form>
    </div>
</div>
