<div [@routerTransition]>
    <div class="loader" *ngIf='isLoading'></div>
    <app-page-header [heading]="'Retiro Efectivo'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <hr>
    <form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <div class="form-group input-group">
                    <span class="input-group-addon">ID</span>
                    <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                    <ng-template #nuevo>Nuevo</ng-template>
                    <ng-template #existente>{{selectedEntity.id}}</ng-template>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Responsable</span>
                    <select name="idresponsable" class="form-control" [(ngModel)]="selectedEntity.idresponsable" #idresponsable="ngModel">
                        <option *ngFor="let instance of dataUsuarios" [value]="instance.id" [selected]="instance.id === selectedEntity.idresponsable">{{instance.apellido}}, {{instance.nombre}}</option>
                    </select>
                    <div *ngIf="idresponsable.errors && idresponsable.touched" class="alert alert-danger">
                        <div *ngIf="idresponsable.errors.required">Debe seleccionar un responsable.</div>
                    </div>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Fecha</span>
                    <input name="fecha" class="form-control" placeholder="aaaa-mm-dd" 
                        [(ngModel)]="fechaRetiro" 
                        ngbDatepicker 
                        placement="top"
                        #fecha="ngbDatepicker">
                    <div class="input-group-addon" (click)="fecha.toggle()">
                        <span class="fa fa-calendar"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
                <div class="form-group input-group">
                    <span class="input-group-addon">Concepto</span>
                    <input name="concepto" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="selectedEntity.concepto" #concepto="ngModel">
                </div>
                <div *ngIf="concepto.invalid && (concepto.dirty || concepto.touched)" class="alert alert-danger">
                    <div *ngIf="concepto.errors.required">
                        Concepto del retiro obligatorio.
                    </div>
                    <div *ngIf="concepto.errors.minlength">
                        La longitud mínima es de 4 caracteres.
                    </div>
                </div>
                <div class="form-group input-group">
                        <span class="input-group-addon">Monto</span>
                        <input type="number" class="form-control" 
                            name="monto" 
                            required 
                            pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0" 
                            [(ngModel)]="selectedEntity.monto" 
                            #monto="ngModel">
                </div>
                <div *ngIf="(selectedEntity.monto > totales.efectivo) && (monto.dirty || monto.touched)" class="alert alert-danger">
                    El monto es superior al efectivo disponible para el retiro.
                </div>
                <div *ngIf="monto.invalid && (monto.dirty || monto.touched)" class="alert alert-danger">
                    <div *ngIf="monto.errors">
                        Valor no válido.
                    </div>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Efectivo </span>
                    <p class="form-control"><span>$ {{ totales.efectivo | number : '1.2-2'}}</span></p>
                </div>
            </div>
        </div>
        <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave()">Guardar</button>                 
        <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
    </form>
</div>
