<br>
<app-deuda [selectedGasto]="selectedGasto" [selectedItem]="selectedItem" (itemUpdated)="handleItemUpdated($event)"></app-deuda>
<hr>
<div class="row">
    <div class="col-xl-12">
        <div class="form-group input-group">
            <button 
                type="button" class="btn btn-primary" 
                aria-label="Left Align" 
                [disabled]="isEmited()"
                (click)="onReloadDeudas()">
                Recargar deudas
            </button>
        </div>
        <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="userRowSelect($event)">
        </ng2-smart-table>
    </div>
</div>