<div class="loader" *ngIf='isLoading'></div>
<form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Descripción</span>
                <p class="form-control"><span>{{selectedLPrecioImpresion.descripcion}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Precio base</span>
                <p class="form-control"><span>$ {{ selectedLPrecioImpresion.precio | number : '1.2-2'}} </span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Código</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Seleccionar</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Cantidad Máxima</span>
                <input type="number" name="maximo" class="form-control" pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0" 
                    required
                    (ngModelChange)="onDataChange()" 
                    [(ngModel)]="selectedEntity.maximo"
                    #maximo="ngModel">
            </div>
            <div *ngIf="maximo.invalid && (maximo.dirty)" class="alert alert-danger">
                <div *ngIf="maximo.errors">
                    Valor no válido.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Porcentaje</span>
                <input type="number" name="porcentaje" class="form-control" step="any"
                    required
                    (ngModelChange)="onDataChange()" 
                    [(ngModel)]="selectedEntity.porcentaje" 
                    #porcentaje="ngModel">
            </div>
            <div *ngIf="porcentaje.invalid && (porcentaje.dirty)" class="alert alert-danger">
                <div *ngIf="porcentaje.errors">
                    Valor no válido.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Precio</span>
                <p class="form-control"><span class='disables'>$ {{preciofinal | number : '1.2-2'}}</span></p>
            </div>
        </div>
    </div> 
    <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave(content)">Guardar</button>
    <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="eliminar(content)">Eliminar</button>
    <button type="button" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
</form>
<div class="card-block">
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">{{modalTitle}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>{{modalMessage}}</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="c('Close click')">Cerrar</button>
        </div>
    </ng-template>
</div>