<div class="loader" *ngIf='isLoading'></div>
<hr>
<div class="container-fluid">
  <ng2-smart-table class="table-responsive" [settings]="settings" [source]="source" (userRowSelect)="userRowSelect($event)"></ng2-smart-table>
</div>