<div class="loader" *ngIf='isLoading'></div>
<div class="row" *ngIf='!isLoading'>
  <div class="col-xl-12">
      <button type="button" class="btn btn-primary" (click)="onNuevo(1)" [disabled]="getEstadoHabilitante()>0"><i class="fa fa-plus-square"></i> Carteleria</button>
      <button type="button" class="btn btn-primary" (click)="onNuevo(2)" [disabled]="getEstadoHabilitante()>0"><i class="fa fa-plus-square"></i> Diseño</button>
      <button type="button" class="btn btn-primary" (click)="onNuevo(3)" [disabled]="getEstadoHabilitante()>0"><i class="fa fa-plus-square"></i> Impresión Láser</button>
      <button type="button" class="btn btn-primary" (click)="onNuevo(4)" [disabled]="getEstadoHabilitante()>0"><i class="fa fa-plus-square"></i> Papelería</button>
      <p></p>
      <div class="form-group input-group">
        <input #search class="form-control" type="text" placeholder="Filtrar todas las columnas..." (keyup.enter)="onSearch(search.value)">
        <button type="button" class="btn btn-primary" aria-label="Left Align" (click)="onSearch(search.value)">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
        <br>
      </div>
      <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="userRowSelect($event)"></ng2-smart-table>
  </div>
</div>