.main-container{
    margin-top: 60px;
    margin-left: 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
    min-height:100vh;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}

:host /deep/ ng2-smart-table { 
    font-size: 18px; 
    cursor: pointer;
}
:host /deep/ .cell_right {
    width:100%;
    height: 100%;
    text-align: right;
}
:host /deep/ .cell_center {
    width:100%;
    height: 100%;
    text-align: center;
}

:host  /deep/ .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #EC681C; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

:host  /deep/ .ng2-smart-sort-link {
    color: #EC681C;
}
