<div class="loader" *ngIf='isLoading'></div>
<p></p>
<form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
    <div class="form-group input-group">
        <span class="input-group-addon">Efectivo </span>
        <p class="form-control"><span>$ {{ totales.efectivo | number : '1.2-2'}}</span></p>
    </div>
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                Ingresos
            </div>
            <div class="card-block table-responsive">
                <ng2-smart-table [settings]="settingscobros" [source]="sourcecobros"></ng2-smart-table>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                Egresos
            </div>
            <div class="card-block table-responsive">
                <ng2-smart-table [settings]="settingspagos" [source]="sourcepagos"></ng2-smart-table>
            </div>
        </div>
    </div>
    <div class="form-group input-group">
        <span class="input-group-addon">Total Movimientos </span>
        <p class="form-control"><span>$ {{ totales.total | number : '1.2-2'}}</span></p>
    </div>
    <button type="button" [disabled]="mainForm.invalid || !isArqueable()" class="btn btn-primary" (click)="onSave(content)">Registrar Arqueo</button>
</form>