.btn-link {
    font-weight: normal;
    color: #eceeef;
    border-radius: 0;
}
.disables {
    color: rgba(0, 0, 0, 0.3);
}

.fa-percent {
    color: #ccc;
}

.fa-percent.active {
    color: black;
}