<div class="loader" *ngIf='isLoading'></div>
<form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Número</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Estado</span>
                <p class="form-control"><span class='disables'>{{selectedEntity.estado}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Usuario</span>
                <p class="form-control"><span class='disables'>{{selectedEntity.usuario}}</span></p>
            </div> 
            <div class="form-group input-group">
                <span class="input-group-addon">Fecha de emisión</span>
                <p class="form-control"><span> {{fechaEmision}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Fecha paso a producción</span>
                <p class="form-control"><span> {{fechaAProduccion}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Total</span>
                <p class="form-control"><span> {{totalStr}}</span></p>
            </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Cliente</span>
                <select name="idcliente" class="form-control"
                    required
                    [disabled]="!isNew()"
                    [(ngModel)]="selectedEntity.idcliente" 
                    #idcliente="ngModel">
                    <option *ngFor="let instance of dataClientes" [value]="instance.id" [selected]="instance.id === selectedEntity.idcliente">{{instance.razonsocial}}</option>
                </select>
                <button class="btn" (click)="verCliente()"><i class="fa fa-user-circle-o"></i> </button>
            </div>
            <div *ngIf="idcliente.errors && idcliente.touched" class="alert alert-danger">
                <div *ngIf="idcliente.errors.required">Debe seleccionar un cliente.</div>
            </div>
			<div class="form-group input-group">
				<span class="input-group-addon">Tipo forma de cobro</span>
				<select name="idformacobro" class="form-control" required [(ngModel)]="selectedEntity.idformacobro" #idformacobro="ngModel">
					<option *ngFor="let instance of dataFormasCobros" [value]="instance.id" [selected]="instance.id === selectedEntity.idformacobro">{{instance.formacobro}}</option>
				</select>
			</div>
            <div *ngIf="idformacobro.errors && idformacobro.touched" class="alert alert-danger">
                <div *ngIf="idformacobro.errors.required">Debe seleccionar una forma de cobro.</div>
            </div> 
			<fieldset class="form-group">
				<label>Observaciones</label>
				<textarea class="form-control" rows="3" maxlength="512" [(ngModel)]="selectedEntity.observacion" name="selectedEntity.observacion"></textarea>
			</fieldset>
            <div class="form-group input-group">
                <span class="input-group-addon">Descuento / Recargo</span>
                <input type="number" 
                    name="descuyrecar" class="form-control" 
                    (change)="onDescyRecChange()"
                    (keyup)="onDescyRecChange()"
                    [disabled]="getEstadoHabilitante()>0"
                    [(ngModel)]="selectedEntity.descuyrecar" 
                    #descuyrecar="ngModel">
                    <button class="btn" (click)="applyPorcentaje()"><i class="fa fa-percent" [ngClass]="{'active': hasPercChange}"></i> </button>
            </div>
            <div class="form-group input-group">
                <label class="checkbox-inline"> Pasar a cuenta corriente
                    <input type="checkbox" 
                        [disabled]="getEstadoHabilitante()>0"
                        [checked]="aCtaCte" 
                        (change)="onCheck()">
                </label>
                <br>
            </div>
        </div> 
    </div>
    <button type="button" [disabled]="mainForm.invalid || (getEstadoHabilitante() > 2)" class="btn btn-primary" (click)="onSave()">Guardar</button>
    <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
</form>
