<p> </p>
<div class="loader" *ngIf='isLoading'></div>
<form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
    <div  class="alert alert-danger" *ngIf="!hasLista()">No dispone de lista de precios para el cliente para este tipo de servicio.</div>
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <div class="form-group input-group">
                <span class="input-group-addon">ID</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Tipo de Trabajo</span>
                <select name="idtipotrabajopapeleria" class="form-control"
                    placeholder
                    [disabled]="!hasLista()"
                    (change)="onTipoTrabajoPapeleriaChange()"
                    [(ngModel)]="selectedEntity.idtipotrabajopapeleria"
                    #idtipotrabajopapeleria="ngModel">
                    <option [ngValue]="-1" disabled selected> Seleccionar </option>
                    <option *ngFor="let instance of dataTipoTrabajoPapeleria" [value]="instance.id" [selected]="+instance.id === +selectedEntity.idtipotrabajopapeleria">{{instance.tipotrabajopapeleria}}</option>
                </select>
            </div>
            <div *ngIf="idtipotrabajopapeleria.errors && idtipotrabajopapeleria.touched" class="alert alert-danger">
                <div *ngIf="idtipotrabajopapeleria.errors.required">Debe seleccionar un tipo de trabajo de papelería.</div>
            </div>
            <div *ngIf="hasNoPriceList() && idtipotrabajopapeleria.touched" class="alert alert-danger">
                No existen precios para este tipo de trabajo de papelería.
            </div>
            <div class="form-group input-group" [hidden]="!isConCorte()">
                <span class="input-group-addon">Gramaje</span>
                <select name="idgramaje" class="form-control"
                    required
                    (change)="onDataChange()"
                    [(ngModel)]="selectedEntity.idgramaje"
                    #idgramaje="ngModel">
                    <option *ngFor="let instance of dataGramajes" [value]="instance.id" [selected]="instance.id === selectedEntity.idgramaje">{{instance.gramaje}}</option>
                </select>
            </div>
            <div *ngIf="idgramaje.errors && idgramaje.touched" class="alert alert-danger">
                <div *ngIf="idgramaje.errors.required">Debe seleccionar un gramaje.</div>
            </div>
            <!-- <div class="form-group input-group" [hidden]="!isComercial()">
                <span class="input-group-addon">Tamaño de Hoja</span>
                <select name="idtamano" class="form-control"
                    [required]="isComercial()"
                    (change)="onDataChange()"
                    [(ngModel)]="selectedEntity.idtamano"
                    #idtamano="ngModel">
                    <option *ngFor="let instance of dataTamanos" [value]="instance.id" [selected]="instance.id === selectedEntity.idtamano">{{instance.tamano}}</option>
                </select>
            </div>
            <div *ngIf="idtamano.errors && idtamano.touched" class="alert alert-danger">
                <div *ngIf="idtamano.errors.required">Debe seleccionar un tamaño.</div>
            </div> -->
            <div class="form-group input-group" [hidden]="!isComercial()">
                <span class="input-group-addon">Tipo de Papelería Comercial</span>
                <select name="idtipopapelcom" class="form-control"
                    [disabled]="!hasLista()"
                    [required]="isComercial()"
                    (change)="onChangeTipoPapelComData()"
                    [(ngModel)]="selectedEntity.idtipopapelcom"
                    #idtipopapelcom="ngModel">
                    <option *ngFor="let instance of dataTipoPapeleriaComercial" [value]="instance.id" [selected]="instance.id === selectedEntity.idtipopapelcom">{{instance.tipopapeleriacomercial}}</option>
                </select>
            </div>
            <div *ngIf="idtipopapelcom.errors && idtipopapelcom.touched" class="alert alert-danger">
                <div *ngIf="idtipopapelcom.errors.required">Debe seleccionar un tipo de papelería comercial.</div>
            </div>
            <div class="form-group input-group" [hidden]="!isComercial()">
                <span class="input-group-addon">Subtipo de Papelería Comercial</span>
                <select name="idsubpapelcom" class="form-control"
                    [disabled]="!hasLista()"
                    [required]="isComercial()"
                    (change)="onDataChange()"
                    [(ngModel)]="selectedEntity.idsubpapelcom"
                    #idsubpapelcom="ngModel">
                    <option *ngFor="let instance of dataSubtipoPapeleriaComercialFilt" [value]="instance.id" [selected]="instance.id === selectedEntity.idsubpapelcom">{{instance.subtipopapeleriacomercial}}</option>
                </select>
            </div>
            <div *ngIf="idsubpapelcom.errors && idsubpapelcom.touched" class="alert alert-danger">
                <div *ngIf="idsubpapelcom.errors.required">Debe seleccionar un subtipo de papelería comercial.</div>
            </div>
            <div *ngIf="isComercial() && hasNoSubtipos()" class="alert alert-danger">
                No existen subtipos para este tipo de papelería comercial.
            </div>
            <!-- <div class="form-group input-group" [hidden]="!isConCorte()">
                <span class="input-group-addon">Tipo de Trabajos con Corte</span>
                <select name="idtipocorte" class="form-control"
                    [disabled]="!hasLista()"
                    [required]="isConCorte()"
                    (change)="onDataChange()"
                    [(ngModel)]="selectedEntity.idtipocorte"
                    #idtipocorte="ngModel">
                    <option *ngFor="let instance of dataTipoPapeleriaCorte" [value]="instance.id" [selected]="instance.id === selectedEntity.idtipocorte">{{instance.tipocorte}}</option>
                </select>
            </div>
            <div *ngIf="idtipocorte.errors && idtipocorte.touched" class="alert alert-danger">
                <div *ngIf="idtipocorte.errors.required">Debe seleccionar un tipo de trabajo con corte.</div>
            </div> -->
            <div class="form-group input-group">
                <span class="input-group-addon">Descripción</span>
                <input name="descripcion" class="form-control"
                    [disabled]="!hasLista()"
                    maxlength="256"
                    required
                    [(ngModel)]="selectedEntity.descripcion"
                    #descripcion="ngModel">
            </div>
            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger">
                <div *ngIf="descripcion.errors.required">
                    La descripción es obligatoria.
                </div>
                <div *ngIf="descripcion.errors.maxlength">
                    La longitud máxima es de 50 caracteres.
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group input-group" [hidden]="!isComercial()">
                <span class="input-group-addon">Unidades</span>
                <input type="number" name="unidades" class="form-control" pattern="^[0-9]+(\.[0-9]{1,2})?$" min="1"
                    [disabled]="!hasLista()"
                    [required]="isComercial()"
                    (input)="onDataChange($event.target.value)"
                    [(ngModel)]="selectedEntity.unidades"
                    #unidades="ngModel">
            </div>
            <div *ngIf="unidades.invalid && (unidades.dirty || unidades.touched)" class="alert alert-danger">
                <div *ngIf="unidades.errors">
                    Valor no válido.
                </div>
            </div>
            <div class="form-group input-group" [hidden]="!isConCorte()">
                <span class="input-group-addon">Pliegos</span>
                <input type="number" name="pliegos" class="form-control" required pattern="^[0-9]+(\.[0-9]{1,2})?$" min="1"
                    [disabled]="!hasLista()"
                    [required]="isConCorte()"
                    (input)="onDataChange()"
                    [(ngModel)]="selectedEntity.pliegos"
                    #pliegos="ngModel">
            </div>
            <div *ngIf="pliegos.invalid && (pliegos.dirty || pliegos.touched)" class="alert alert-danger">
                <div *ngIf="pliegos.errorsrequired">
                    La cantidad de pliegos es obligatoria.
                </div>
                <div *ngIf="pliegos.errors">
                    Valor no válido.
                </div>
            </div>
            <div class="form-group input-group" [hidden]="!isConCorte() || noServicio()">
                <div class="checkbox input-group-addon">
                    <label> Doble faz
                        <input type="checkbox"  [disabled]="!hasLista()" [checked]="doblefaz" (change)="onDobleFazChage()">
                    </label>
                </div>
            </div>
            <div class="form-group input-group" [hidden]="!isConCorte() || noServicio()">
                <div class="checkbox input-group-addon">
                    <label> Color
                        <input type="checkbox"  [disabled]="!hasLista()" [checked]="color" (change)="onColorChage()">
                    </label>
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Precio</span>
                <p class="form-control"><span class='disables'>$ {{selectedEntity.precio | number : '1.2-2'}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Subtotal</span>
                <p class="form-control"><span class='disables'>$ {{ subtotal | number : '1.2-2'}}</span></p>
            </div>
        </div>
    </div>
    <button type="button" [disabled]="mainForm.invalid || !canSave()" class="btn btn-primary" (click)="onNuevo(); mainForm.reset()">Nuevo</button>
    <button type="button" [disabled]="mainForm.invalid || !canSave()" class="btn btn-primary" (click)="onSave()">Guardar</button>
    <button type="button" [disabled]="isNew() || !hasLista() || getEstadoHabilitante()>0" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
</form>
