.btn-link {
    font-weight: normal;
    color: #eceeef;
    border-radius: 0;
}
.disables {
    color: rgba(0, 0, 0, 0.3);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}