<div [@routerTransition]>
    <div class="loader" *ngIf='isLoading'></div>
    <app-page-header [heading]="'Cheque'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <hr>
    <form role="form" #mainForm="ngForm">
        <div class="row">
            <div class="col-sm-6 col-sm-push-6">
                <div class="form-group input-group">
                    <span class="input-group-addon">Banco </span>
                    <p class="form-control"><span> {{ selectedEntity.banco }}</span></p>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Número </span>
                    <p class="form-control"><span> {{ selectedEntity.numero }}</span></p>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon" >Emisor</span>
                    <p class="form-control"><span> {{ selectedEntity.emisor }}</span></p>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Entregado por</span>
                    <p class="form-control"><span> {{ selectedEntity.entrega }}</span></p>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Entregado a</span>
                    <p class="form-control"><span> {{ selectedEntity.tenedoractual }}</span></p>
                </div>
            </div>
            <div class="col-sm-6 col-sm-pull-6">
                <div class="form-group input-group">
                    <span class="input-group-addon">Fecha de emisión</span>
                    <p class="form-control"><span> {{fecEmision}}</span></p>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Fecha de vencimiento</span>
                    <p class="form-control"><span> {{ fecVencimiento }}</span></p>
                </div>
                <div class="form-group input-group">
                    <span class="input-group-addon">Monto </span>
                    <p class="form-control"><span> {{ monto }}</span></p>
                </div>
                <div class="form-group input-group" [hidden]="!isOrigenRecibo()">
                    <div class="checkbox input-group-addon">
                        <label> Depositado
                            <input type="checkbox" [checked]="depositado" (change)="depositado = !depositado">
                        </label>
                    </div>
                </div>
                <div class="form-group input-group" [hidden]="!isOrigenGasto()">
                    <div class="checkbox input-group-addon">
                        <label> Cobrado
                            <input type="checkbox" [checked]="cobrado" (change)="cobrado = !cobrado">
                        </label>
                    </div>
                </div>  
            </div> 
        </div>
        <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave()">Guardar</button>                 
        <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
    </form>
</div>
