<p> </p>
<div class="loader" *ngIf='isLoading'></div>
<form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
    <div class="row">
        <div  class="alert alert-danger" *ngIf="!hasLista()">No dispone de lista de precios para el cliente para este tipo de servicio.</div>
        <div class="col-sm-6 col-sm-push-6">
            <div class="form-group input-group">
                <span class="input-group-addon">ID</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Tipo de Diseño</span>
                <select name="idtipodiseno" class="form-control"
                    [disabled]="!hasLista()"
                    (change)="onTipoDisenoChange()"
                    [(ngModel)]="selectedEntity.idtipodiseno"
                    #idtipodiseno="ngModel">
                    <option *ngFor="let instance of dataTiposDisenos" [value]="instance.id" [selected]="instance.id === selectedEntity.idtipodiseno">{{instance.tipodiseno}}</option>
                </select>
            </div>
            <div *ngIf="idtipodiseno.errors && idtipodiseno.touched" class="alert alert-danger">
                <div *ngIf="idtipodiseno.errors.required">Debe seleccionar un tipo de trabajo de diseño.</div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Subtipo de diseño</span>
                <select name="idsubtipodiseno" class="form-control"
                    required
                    [disabled]="!hasLista()"
                    (change)="onDataChange()"
                    [(ngModel)]="selectedEntity.idsubtipodiseno"
                    #idsubtipodiseno="ngModel">
                    <option *ngFor="let instance of dataSubtiposDisenosFilt" [value]="instance.id" [selected]="instance.id === selectedEntity.idsubtipodiseno">{{instance.subtipodiseno}}</option>
                </select>
            </div>
            <div *ngIf="idsubtipodiseno.errors && idsubtipodiseno.touched" class="alert alert-danger">
                <div *ngIf="idsubtipodiseno.errors.required">Debe seleccionar un subtipo de diseño.</div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Descripción</span>
                <input name="descripcion" class="form-control" maxlength="256"
                    required
                    [disabled]="!hasLista()"
                    [(ngModel)]="selectedEntity.descripcion"
                    #descripcion="ngModel">
            </div>
            <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger">
                <div *ngIf="descripcion.errorsrequired">
                    La descripción es obligatoria.
                </div>
                <div *ngIf="descripcion.errors.maxlength">
                    La longitud máxima es de 50 caracteres.
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Cantidad</span>
                <input type="number" name="cantidad" class="form-control"
                    required pattern="^[0-9]+(\.[0-9]{1,2})?$" min="1"
                    [disabled]="!hasLista()"
                    (input)="onDataChange($event.target.value)"
                    [(ngModel)]="selectedEntity.cantidad"
                    #cantidad="ngModel">
            </div>
            <div *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)" class="alert alert-danger">
                <div *ngIf="cantidad.errorsrequired">
                    La cantidad de cantidad es obligatoria.
                </div>
                <div *ngIf="cantidad.errors">
                    Valor no válido.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Precio</span>
                <p class="form-control"><span class='disables'>$ {{selectedEntity.precio | number : '1.2-2'}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Subtotal</span>
                <p class="form-control"><span class='disables'>$ {{ subtotal | number : '1.2-2'}}</span></p>
            </div>
        </div>
    </div>
    <div *ngIf="selectedEntity.precio == 0" class="alert alert-danger">
        No hay precios disponibles para el ítem seleccionado.
    </div>
    <button type="button" [disabled]="isCero() || mainForm.invalid || !hasLista() || getEstadoHabilitante()>0" class="btn btn-primary" (click)="onNuevo(); mainForm.reset()">Nuevo</button>
    <button type="button" [disabled]="isCero() || mainForm.invalid || sinPrecio() || !hasLista() || getEstadoHabilitante()>0" class="btn btn-primary" (click)="onSave()">Guardar</button>
    <button type="button" [disabled]="isNew() || !hasLista() || getEstadoHabilitante()>0" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
</form>
