<p> </p>
<form role="form" #mainForm="ngForm" (ngSubmit)="onSubmit()" [ngClass]="{'disable-inputs': isEmited()}">
	<div class="row">
		<div class="col-sm-6 col-sm-push-6">
			<div class="form-group input-group">
				<span class="input-group-addon">ID</span>
				<p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
				<ng-template #nuevo>Nuevo</ng-template>
				<ng-template #existente>{{selectedEntity.id}}</ng-template>
			</div>
			<div class="form-group input-group">
				<span class="input-group-addon">Tipo forma de cobro</span>
				<select 
					name="idformacobro" 
					class="form-control" required 
                    (change)="onFormaCobroChange()"
					[(ngModel)]="selectedEntity.idformacobro" 
					#idformacobro="ngModel">
					<option *ngFor="let instance of dataFormasCobros" [value]="instance.id" [selected]="instance.id === selectedEntity.idformacobro">{{instance.formacobro}}</option>
				</select>
			</div>
			<div *ngIf="idformacobro.errors && idformacobro.touched" class="alert alert-danger">
				<div *ngIf="idformacobro.errors.required">Debe seleccionar una forma de cobro.</div>
			</div>
			<!-- Es el librador del cheque ya que el tenedor original es el que entrega el cheque.
			    En este caso es el cliente que paga. -->
			<div class="form-group input-group" [hidden]="!isCheque()">
				<span class="input-group-addon">Emisor</span>
				<input type="text" name="librador" class="form-control" 
					[required]="isCheque()"
					[(ngModel)]="selectedEntity.librador" 
					#librador="ngModel">
			</div>
			<div *ngIf="librador.invalid && (librador.dirty || librador.touched)" class="alert alert-danger">
				<div *ngIf="librador.errors.required">Debe ingresar el librador o emisor del cheque.</div>
			</div>
			<div class="form-group input-group" [hidden]="!isBancario()">
				<span class="input-group-addon">Banco</span>
				<select name="idbanco" class="form-control" 
					[(ngModel)]="selectedEntity.idbanco" 
					[required]="isBancario()"
					#idbanco="ngModel">
					<option *ngFor="let instance of dataBancos" [value]="instance.id" [selected]="instance.id === selectedEntity.idbanco">{{instance.banco}}</option>
				</select>
			</div>
			<div *ngIf="idbanco.errors && idbanco.touched" class="alert alert-danger">
				<div *ngIf="idbanco.errors.required">Debe seleccionar un banco.</div>
			</div>
			<div class="form-group input-group" [hidden]="!isBancario()">
				<span class="input-group-addon">Número</span>
				<input name="numero" class="form-control" maxlength="30"
					[required]="isCheque() || isBancario()"
					[(ngModel)]="selectedEntity.numero" 
					#numero="ngModel">
			</div>
			<div *ngIf="numero.invalid && (numero.dirty || numero.touched)" class="alert alert-danger">
				<div *ngIf="numero.errors.maxlength">
					La longitud máxima es de 50 caracteres.
				</div>
				<div *ngIf="numero.errors.required">
					Número obligatorio.
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-sm-pull-6">
			<div class="form-group input-group" [hidden]="!isBancario()">
				<span class="input-group-addon" [hidden]="isCheque()">Fecha</span>
				<span class="input-group-addon" [hidden]="!isCheque()">Fecha de emisión</span>
				<input name="fecha" class="form-control" placeholder="aaaa-mm-dd"
					[(ngModel)]="fechaItem"
					[required]="isBancario()"
					ngbDatepicker 
					#fecha="ngbDatepicker">
				<div class="input-group-addon" (click)="fecha.toggle()">
					<span class="fa fa-calendar"></span>
				</div>
			</div>
			<div class="form-group input-group" [hidden]="!isCheque()">
				<span class="input-group-addon">Fecha de vemcimiento</span>
				<input name="fecVencimiento" class="form-control" placeholder="aaaa-mm-dd"
					[(ngModel)]="fecVencimientoItem"
					[required]="isCheque()"
					ngbDatepicker 
					#fecVencimiento="ngbDatepicker">
				<div class="input-group-addon" (click)="fecVencimiento.toggle()">
					<span class="fa fa-calendar"></span>
				</div>
			</div>
			<div class="form-group input-group">
				<span class="input-group-addon">Monto</span>
				<input 
					type="number" name="monto" class="form-control" required 
					pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0" 
					[(ngModel)]="selectedEntity.monto" #monto="ngModel">
			</div>
			<div *ngIf="monto.invalid && (monto.dirty || monto.touched)" class="alert alert-danger">
				<div *ngIf="monto.errors">
					Valor no válido.
				</div>
			</div>
		</div>
	</div>
	<div [hidden]="isEmited()">
		<button type="button" [disabled]="isCero() || isEmited() || mainForm.invalid" class="btn btn-primary" (click)="onSubmit(); mainForm.reset()">Guardar</button>
		<button type="button" [disabled]="isNew() || isEmited() || mainForm.invalid" class="btn btn-primary" (click)="eliminar(); mainForm.reset()">Eliminar</button>
		<button type="button" [disabled]="isEmited()" class="btn btn-primary" (click)="cancelar(); mainForm.reset()">Cancelar</button>
	</div>
</form>
