<p> </p>
<div class="loader" *ngIf='isLoading'></div>
<form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
    <div class="row">
        <div  class="alert alert-danger" *ngIf="!hasLista()">No dispone de lista de precios para el cliente para este tipo de servicio.</div>
        <div class="col-sm-6 col-sm-push-6">
            <div class="form-group input-group">
                <span class="input-group-addon">ID</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Sustrato</span>
                <select name="idsustrato" class="form-control"
                    required
                    [disabled]="!hasLista()"
                    (change)="onSustratoChange()"
                    [(ngModel)]="selectedEntity.idsustrato"
                    #idsustrato="ngModel">
                    <option *ngFor="let instance of dataSustratos" [value]="instance.id" [selected]="instance.id === selectedEntity.idsustrato">{{instance.sustrato}}</option>
                </select>
                <div *ngIf="idsustrato.errors && idsustrato.touched" class="alert alert-danger">
                    <div *ngIf="idsustrato.errors.required">Debe seleccionar un sustrato.</div>
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Subtipo de sustrato</span>
                <select name="idsubtiposus" class="form-control"
                    required
                    [disabled]="!hasLista()"
                    (change)="onDataChange()"
                    [(ngModel)]="selectedEntity.idsubtiposus"
                    #idsubtiposus="ngModel">
                    <option *ngFor="let instance of dataSubtiposSustratosFilt" [value]="instance.id" [selected]="instance.id === selectedEntity.idsubtiposus">{{instance.subtiposustrato}}</option>
                </select>
                <div *ngIf="idsubtiposus.errors && idsubtiposus.touched" class="alert alert-danger">
                    <div *ngIf="idsubtiposus.errors.required">Debe seleccionar un subtipo de sustrato.</div>
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Descripcion</span>
                <input name="descripcion" class="form-control" maxlength="256"
                    [disabled]="!hasLista()"
                    [(ngModel)]="selectedEntity.descripcion" #descripcion="ngModel">
                <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger">
                    <div *ngIf="descripcion.errors.maxlength">
                        La longitud máxima es de 50 caracteres.
                    </div>
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Precio</span>
                <p class="form-control"><span class='disables'>$ {{selectedEntity.precio | number : '1.2-2'}}</span></p>
            </div>
            <div *ngIf="selectedEntity.precio === 0" class="alert alert-danger">
                No exite lista de precio para este item. Por favor revise.
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Subtotal</span>
                <p class="form-control"><span class='disables'>$ {{ subtotal | number : '1.2-2'}} </span></p>
            </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Ancho (mts)</span>
                <input type="number" name="ancho" class="form-control" required pattern="^[0-9]+(\.[0-9]{1,2})?$" min="1"
                    [disabled]="!hasLista()"
                    (input)="onDataChange($event.target.value)"
                    [(ngModel)]="selectedEntity.ancho"
                    #ancho="ngModel">
                <span class="input-group-addon">Mín: {{anchominimo}}</span>
                <span class="input-group-addon">Max: {{anchomaximo}}</span>
            </div>
            <div *ngIf="ancho.invalid && (ancho.dirty || ancho.touched)" class="alert alert-danger">
                <div *ngIf="ancho.errors">
                    Valor no válido.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Alto (mts)</span>
                <input type="number" name="alto" class="form-control" required pattern="^[0-9]+(\.[0-9]{1,2})?$" min="1"
                    [disabled]="!hasLista()"
                    (input)="onDataChange($event.target.value)"
                    [(ngModel)]="selectedEntity.alto"
                    #alto="ngModel">
                <span class="input-group-addon">Min: {{altominimo}}</span>
                <span class="input-group-addon">Max: {{altomaximo}}</span>
            </div>
            <div *ngIf="alto.invalid && (alto.dirty || alto.touched)" class="alert alert-danger">
                <div *ngIf="alto.errors">
                    Valor no válido.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Cantidad</span>
                <input type="number" name="cantidad" class="form-control" required pattern="^[0-9]+(\.[0-9]{1,2})?$" min="1"
                    [disabled]="!hasLista()"
                    (input)="onDataChange($event.target.value)"
                    [(ngModel)]="selectedEntity.cantidad"
                    #cantidad="ngModel">
            </div>
            <div *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)" class="alert alert-danger">
                <div *ngIf="cantidad.errors">
                    Valor no válido.
                </div>
            </div>
        </div>
    </div>
    <button type="button" [disabled]="isCero() || mainForm.invalid || !hasLista() || getEstadoHabilitante()>0" class="btn btn-primary" (click)="onNuevo(); mainForm.reset()">Nuevo</button>
    <button type="button" [disabled]="isCero() || mainForm.invalid || !hasLista() || getEstadoHabilitante()>0" class="btn btn-primary" (click)="onSave()">Guardar</button>
    <button type="button" [disabled]="isNew() || !hasLista() || getEstadoHabilitante()>0" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
</form>
