<form role="form" #mainForm="ngForm">
	<div class="form-group input-group"
		[ngClass]="{'has-danger': descripcion.errors && descripcion.touched}">
		<span class="input-group-addon">Descripción</span>
		<input name="descripcion" class="form-control" minlength="3" maxlength="56"
			[disabled]="isSalded()"
			[(ngModel)]="selectedEntity.descripcion" 
			required 
			[ngbTooltip]="(descripcion.errors && descripcion.touched) ? 'Valor no válido.' : ''"
			#descripcion="ngModel">
	</div>
	<div class="form-group input-group"
		[ngClass]="{'has-danger': precio.errors && precio.touched}">
		<span class="input-group-addon">Precio</span>
		<input type="number" class="form-control"
			name="precio" 
			pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0.01"
			[disabled]="isSalded()"
			[(ngModel)]="selectedEntity.precio" 
			required 
			[ngbTooltip]="(precio.errors && precio.touched) ? 'Valor no válido.' : ''"
			#precio="ngModel">
	</div>
	<div *ngIf="(selectedEntity.precio > compra.tope) && (precio.dirty || precio.touched)" class="alert alert-danger">
		El precio es superior al tope disponible para el retiro.
	</div>
	<div *ngIf="precio.invalid && (precio.dirty || precio.touched)" class="alert alert-danger">
		<div *ngIf="precio.errors">
			Valor no válido.
		</div>
	</div>
	<div class="form-group input-group"
		[ngClass]="{'has-danger': cantidad.errors && cantidad.touched}">
		<span class="input-group-addon">Cantidad</span>
		<input type="number" name="cantidad" class="form-control"pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0.01"
			[disabled]="isSalded()"
			[(ngModel)]="selectedEntity.cantidad"
			required 
			[ngbTooltip]="(cantidad.errors && cantidad.touched) ? 'Valor no válido.' : ''"
			#cantidad="ngModel">
	</div>
	<button type="button" [disabled]="mainForm.invalid || isSalded()" class="btn btn-primary" (click)="onSubmit(); mainForm.reset()">Guardar</button>
	<button type="button" [disabled]="isNew() || mainForm.invalid || isSalded()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
	<button type="button" class="btn btn-primary" (click)="cancelar()">Cancelar</button>
</form>