<div class="loader" *ngIf='isLoading'></div>
<form role="form" #mainForm="ngForm" *ngIf='!isLoading'>
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <div class="form-group input-group">
                <span class="input-group-addon">ID</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Tipo Adicional</span>
                <select name="idtipoadicional" class="form-control" 
                    required
                    (change)="onDataChange()"
                    [(ngModel)]="selectedEntity.idtipoadicional" 
                    #idtipoadicional="ngModel">
                    <option *ngFor="let instance of dataTiposAdicionales" [value]="instance.id" [selected]="instance.id === selectedEntity.idtipoadicional">{{instance.tipoadicional}}</option>
                </select>
            </div>
            <div *ngIf="idtipoadicional.errors && idtipoadicional.touched" class="alert alert-danger">
                <div *ngIf="idtipoadicional.errors.required">Debe seleccionar un tipo de adicional.</div>
            </div>
            <div class="form-group input-group" [hidden] = "!isRequired(0)">
                <span class="input-group-addon">Alto</span>
                <input type="number" name="alto" class="form-control" pattern="^[0-9]+(\.[0-9]{1,4})?$" min="0" 
                    (input)="onDataChange($event.target.value)"
                    [required]="isRequired(0)"
                    [(ngModel)]="selectedEntity.alto" 
                    #alto="ngModel">
            </div>
            <div *ngIf="alto.invalid && (alto.dirty || alto.touched)" class="alert alert-danger">
                <div *ngIf="alto.errors">
                    Valor no válido.
                </div>
            </div>
            <div class="form-group input-group" [hidden] = "!isRequired(1)">
                <span class="input-group-addon">Ancho</span>
                <input type="number" name="ancho" class="form-control" pattern="^[0-9]+(\.[0-9]{1,4})?$" min="0" 
                    (input)="onDataChange($event.target.value)"
                    [required]="isRequired(1)"
                    [(ngModel)]="selectedEntity.ancho" 
                    #ancho="ngModel">
            </div>
            <div *ngIf="ancho.invalid && (ancho.dirty || ancho.touched)" class="alert alert-danger">
                <div *ngIf="ancho.errors">
                    Valor no válido.
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">  
            <div class="form-group input-group" [hidden] = "!isRequired(2)">
                <span class="input-group-addon">Unidades</span>
                <input type="number" name="unidades" class="form-control" pattern="^[0-9]+(\.[0-9]{1,4})?$" min="0"
                    (input)="onDataChange($event.target.value)"
                    [required]="isRequired(2)"
                    [(ngModel)]="selectedEntity.unidades" 
                    #unidades="ngModel">
            </div>
            <div *ngIf="unidades.invalid && (unidades.dirty || unidades.touched)" class="alert alert-danger">
                <div *ngIf="unidades.errors">
                    Valor no válido.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Precio</span>
                <p class="form-control"><span class='disables'>$ {{selectedEntity.precio | number : '1.2-2'}}</span></p>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Subtotal $</span>
                <p class="form-control"><span class='disables'>{{ subtotal | number : '1.2-2'}}</span></p>
            </div>
        </div> 
    </div>    
    <button type="button" [disabled]="isCero() || mainForm.invalid || getEstadoHabilitante()>0" class="btn btn-primary" (click)="onSave(content); mainForm.reset()">Guardar</button>
    <button type="button" [disabled]="isNew() || getEstadoHabilitante()>0" class="btn btn-primary" (click)="eliminar(content); mainForm.reset()">Eliminar</button>
    <button type="button" class="btn btn-primary" (click)="cancelar(); mainForm.reset()">Cancelar</button>
</form>
