<div [@routerTransition]>
    <app-page-header [heading]="'Subtipo de Sustrato'" [icon]="'fa-edit'"></app-page-header>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
    </div>
    <p></p>
    <div class="row">
        <form role="form" #mainForm="ngForm">
            <div class="form-group input-group">
                <span class="input-group-addon">Código</span>
                <p class="form-control"><span class='disables' *ngIf='isNew(); then nuevo else existente'></span></p>
                <ng-template #nuevo>Nuevo</ng-template>
                <ng-template #existente>{{selectedEntity.id}}</ng-template>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Sustrato</span>
                <select name="idsustrato" class="form-control" [(ngModel)]="selectedEntity.idsustrato" #idsustrato="ngModel">
                    <option *ngFor="let instance of dataSustratos" [value]="instance.id" [selected]="instance.id === selectedEntity.idsustrato">{{instance.sustrato}}</option>
                </select>
            </div>
            <div *ngIf="idsustrato.errors && idsustrato.touched" class="alert alert-danger">
                <div *ngIf="idsustrato.errors.required">Debe seleccionar un Sustrato.</div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Descripción</span>
                <input name="subtiposustrato" class="form-control" required minlength="4" maxlength="100" [(ngModel)]="selectedEntity.subtiposustrato" #subtiposustrato="ngModel">
            </div>
            <div *ngIf="subtiposustrato.invalid && (subtiposustrato.dirty || subtiposustrato.touched)" class="alert alert-danger">
                <div *ngIf="subtiposustrato.errors.required">
                    Descripción del subtipo sustrato obligatoria.
                </div>
                <div *ngIf="subtiposustrato.errors.minlength">
                    La longitud mínima es de 4 caracteres.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Ancho mínimo</span>
                <input type="number" name="anchomin" class="form-control" required pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0" [(ngModel)]="selectedEntity.anchomin" #anchomin="ngModel">
            </div>
            <div *ngIf="anchomin.invalid && (anchomin.dirty || anchomin.touched)" class="alert alert-danger">
                <div *ngIf="anchomin.errors">
                    Valor no válido.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Ancho máximo</span>
                <input type="number" name="anchomax" class="form-control" required pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0" [(ngModel)]="selectedEntity.anchomax" #anchomax="ngModel">
            </div>
            <div *ngIf="anchomax.invalid && (anchomax.dirty || anchomax.touched)" class="alert alert-danger">
                <div *ngIf="anchomax.errors">
                    Valor no válido.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Alto mínimo</span>
                <input type="number" name="altomin" class="form-control" required pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0" [(ngModel)]="selectedEntity.altomin" #altomin="ngModel">
            </div>
            <div *ngIf="altomin.invalid && (altomin.dirty || altomin.touched)" class="alert alert-danger">
                <div *ngIf="altomin.errors">
                    Valor no válido.
                </div>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Alto máximo</span>
                <input type="number" name="altomax" class="form-control" required pattern="^[0-9]+(\.[0-9]{1,2})?$" min="0" [(ngModel)]="selectedEntity.altomax" #altomax="ngModel">
            </div>
            <div *ngIf="altomax.invalid && (altomax.dirty || altomax.touched)" class="alert alert-danger">
                <div *ngIf="altomax.errors">
                    Valor no válido.
                </div>
            </div>
            <button type="button" [disabled]="mainForm.invalid" class="btn btn-primary" (click)="onSave()">Guardar</button>                 
            <button type="button" [disabled]="isNew()" class="btn btn-primary" (click)="eliminar()">Eliminar</button>
        </form>
    </div>
</div>
